<div class="intro" ng-cloak ng-show="showIntro">
  <div class="content" ng-click="hideIntro()">
    <span>
      Ce service n'est disponible actuellement que pour les collèges participants à l'expérimentation. <i class="fa fa-close"></i>
    </span>
  </div>
</div>
<nav role="navigation" class="navbar navbar-default navbar-static-top">
  <div class="container">
    <img src="assets/images/sgmap-horiz.png" alt="Logo du Secrétariat Général pour la Modernisation de l'Action Publique">
    <ul class="nav navbar-nav navbar-right">
      <li ui-sref-active="active"><a ui-sref="layout.login">Espace établissement</a></li>
    </ul>
  </div>
</nav>

<header>
  <div class="container">
    <h1><a ui-sref="layout.home">Demande de bourse de collège</a></h1>
  </div>
</header>

<div ui-view></div>
