.navbar {
  margin-bottom: 0;
  padding-top: 8px;
  padding-bottom: 7px;
}

header {
  padding: 40px 0;
  margin-bottom: 0;
  background-color: $dark-blue;
  background-image: url('/assets/images/garden.jpg');
  background-position: center left;

  h1 {
    font-size: 45px;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);

    a {
      text-decoration: none;
      color: white;

      &:focus {
        color: $white;
        text-decoration: none;
      }

      &:hover {
        color: $white;
        text-decoration: none;
      }
    }
  }

  img {
    vertical-align: none;
  }
}

fieldset {
  legend.control-label {
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1em;
    border-bottom:none;
  }

  .radio-inline {
    padding-left: 5px;
    padding-right: 25px;
  }
}

@media(max-width: 767px) {
  header {
    h1 {
      text-align: center;
      font-size: 2em;
    }
  }

  ul#logo-list {
    text-align: center;
  }

  .nav > li.logo {
    display: inline;
  }
}

body {
  background-color: $dark-blue;
}
