<div id="admin">
  <div class="container">
    <h1>Ajouter un établissement</h1>
    <form name="infoForm" ng-submit="createEtablissement(infoForm)" novalidate>

      <div class="form-group required" ng-class="{'has-error': infoForm.human_id.$invalid && infoForm.$submitted}">
        <label for="human_id" class="control-label-flat">Code établissement</label>
        <div class="input-group">
          <input id="human_id" type="text" name="human_id" class="form-control-flat" ng-model="college.human_id" required>
          <span class="input-group-btn">
            <button type="button" class="btn btn-action" ng-click="search()">
              Recherche
            </button>
          </span>
        </div>

        <div ng-messages="infoForm.human_id.$error">
          <p class="help-block" ng-message='required'>Ce champ est obligatoire.</p>
        </div>

        <p class="help-block" style="display: block;" ng-if="searchError">{{searchError}}</p>
      </div>

      <div class="form-group required" ng-class="{'has-error': infoForm.nom.$invalid && infoForm.$submitted}">
        <label for="nom" class="control-label-flat">Nom du collège</label>
        <input id="nom" type="text" name="nom" class="form-control-flat" ng-model="college.nom" required>
        <div ng-messages="infoForm.nom.$error">
          <p class="help-block" ng-message='required'>Ce champ est obligatoire.</p>
        </div>
      </div>

      <div class="form-group required" ng-class="{'has-error': infoForm.chef_etablissement.$invalid && infoForm.$submitted}">
        <label for="chef_etablissement" class="control-label-flat">Nom du chef d'établissement</label>
        <input id="chef_etablissement" type="text" name="chef_etablissement" class="form-control-flat" ng-model="college.chef_etablissement" required>
        <div ng-messages="infoForm.chef_etablissement.$error">
          <p class="help-block" ng-message='required'>Ce champ est obligatoire.</p>
        </div>
      </div>

      <div class="form-group required" ng-class="{'has-error': infoForm.contact.$invalid && infoForm.$submitted}">
        <label for="contact" class="control-label-flat">Email de contact</label>
        <input id="contact" type="text" name="contact" class="form-control-flat" ng-model="college.contact" required>
        <div ng-messages="infoForm.contact.$error">
          <p class="help-block" ng-message='required'>Ce champ est obligatoire.</p>
        </div>
      </div>

      <div class="form-group">
        <label for="telephone" class="control-label-flat">Téléphone de contact</label>
        <input id="telephone" type="text" name="telephone" class="form-control-flat" ng-model="college.telephone">
      </div>

      <div class="form-group required" ng-class="{'has-error': infoForm.adresse.$invalid && infoForm.$submitted}">
        <label for="adresse" class="control-label-flat">Adresse</label>
        <input id="adresse" type="text" name="adresse" class="form-control-flat" ng-model="college.adresse" required>
        <div ng-messages="infoForm.adresse.$error">
          <p class="help-block" ng-message='required'>Ce champ est obligatoire.</p>
        </div>
      </div>

      <div class="form-group required" ng-class="{'has-error': infoForm.nomVille.$invalid && infoForm.$submitted}">
        <label for="nomVille" class="control-label-flat">Ville</label>
        <input id="nomVille" type="text" name="nomVille" class="form-control-flat" ng-model="college.ville.nom" required>
        <div ng-messages="infoForm.nomVille.$error">
          <p class="help-block" ng-message='required'>Ce champ est obligatoire.</p>
        </div>
      </div>

      <div class="form-group required" ng-class="{'has-error': infoForm.codePostal.$invalid && infoForm.$submitted}">
        <label for="codePostal" class="control-label-flat">Code postal</label>
        <input id="codePostal" type="text" name="codePostal" class="form-control-flat" ng-model="college.ville.codePostal" required>
        <div ng-messages="infoForm.codePostal.$error">
          <p class="help-block" ng-message='required'>Ce champ est obligatoire.</p>
        </div>
      </div>

      <div class="form-group required" ng-class="{'has-error': infoForm.password.$invalid && infoForm.$submitted}">
        <label for="password" class="control-label-flat">Mot de passe</label>
        <input id="password" type="password" ng-minlength="8" name="password" class="form-control-flat" ng-model="college.password" required>
        <div ng-messages="infoForm.password.$error">
          <p class="help-block" ng-message='required'>Ce champ est obligatoire.</p>
          <p class="help-block" ng-message='minlength'>Ce champ doit être au moins de 8 caractères.</p>
        </div>
      </div>

      <p class="alert alert-success" ng-if="message"> {{ message }} </p>
      <p class="alert alert-danger" ng-if="errorMessage"> {{ errorMessage }} </p>

      <div class="text-right">
        <button type="submit" name="submit" alt="Valider" class="btn btn-lg btn-action-invert">
            Ajouter l'établissement
        </button>
      </div>
    </form>

    <h1>Admin</h1>
    <div class="list-group">
      <a class="list-group-item" ui-sref="layout.college.demandes.new({id: etablissement.human_id})" ng-repeat="etablissement in etablissements">
        <strong>{{etablissement.nom}}</strong> / {{etablissement.contact}}<br>
        <span class="text-muted">{{etablissement.ville.nom}}, {{etablissement.ville.codePostal}}</span>
      </a>
    </div>
  </div>
</div>
