#admin {
  color: white;
  padding: 100px 0;
  background-color: $dark-blue;

  .list-group-item {
    background-color: $white;
    border-color: darken($white, 15%);

    &:hover {
      background-color: darken($white, 2%);
    }
  }

  .text-muted {
    color: lighten($blue, 15%);
  }

  .trash {
    color: white;

    &:hover {
      color: lighten($blue, 15%);
      cursor: pointer;
    }
  }

  a {
    color: white;

    &:hover {
      text-decoration: none;
    }

    &:focus {
      text-decoration: none;
    }
  }
}
