<pre>{{data | json}}</pre>

<h1>Vos renseignements</h1>

<form name="infoForm" ng-submit="submit(infoForm)" novalidate>

  <div class="form-group required" ng-class="{'has-error': !identite.lien && infoForm.$submitted}">
    <fieldset>
      <legend class="control-label">Vous êtes</legend>
      <input type="radio" name="lien" id="lien-pere" ng-model="identite.lien" ng-required="!identite.lien" value="pere">
      <label class="radio-inline" for="lien-pere">Le père</label>
      <input type="radio" name="lien" id="lien-mere" ng-model="identite.lien" ng-required="!identite.lien" value="mere">
      <label class="radio-inline" for="lien-mere">La mère</label>
      <input type="radio" name="lien" id="lien-responsable" ng-model="identite.lien" ng-required="!identite.lien" value="responsable">
      <label class="radio-inline" for="lien-responsable">Le représentant légal</label>
    </fieldset>
    <div ng-if="!identite.lien && infoForm.$submitted">
      <p class="help-block">Ce champ est obligatoire.</p>
    </div>
  </div>

  <div class="form-group required" ng-class="{'has-error': infoForm.nom.$invalid && infoForm.$submitted}">
    <label for="nom" class="control-label">Nom</label>
    <input id="nom" type="text" name="nom" class="form-control" ng-model="identite.nom" required>
    <div ng-messages="infoForm.nom.$error" ng-if="infoForm.$submitted">
      <p class="help-block" ng-message='required'>Ce champ est obligatoire.</p>
    </div>
  </div>

  <div class="form-group required" ng-class="{'has-error': infoForm.prenom.$invalid && infoForm.$submitted}">
    <label for="prenom" class="control-label">Prénom(s)</label>
    <input id="prenom" type="text" name="prenom" class="form-control" ng-model="identite.prenom" required>
    <div ng-messages="infoForm.prenom.$error" ng-if="infoForm.$submitted">
      <p class="help-block" ng-message='required'>Ce champ est obligatoire.</p>
    </div>
  </div>

  <div class="form-group required" ng-class="{'has-error': infoForm.adresse.$invalid && infoForm.$submitted}">
    <label for="adresse" class="control-label">Adresse</label>
    <textarea id="adresse" rows="2" name="adresse" class="form-control" ng-model="identite.adresse" required></textarea>
    <div ng-messages="infoForm.adresse.$error" ng-if="infoForm.$submitted">
      <p class="help-block" ng-message='required'>Ce champ est obligatoire.</p>
    </div>
  </div>

  <div
    class="form-group required"
    ng-class="{'has-error': infoForm.$submitted && !cities.length}">
    <label class="control-label" for="postal-code">Code postal</label>
    <input
      type="text"
      inputmode="numeric"
      minlength="5"
      maxlength="5"
      pattern="[0-9]{5}"
      title="Cinq chiffres"
      class="form-control"
      id="postal-code"
      required
      ng-model="identite.codePostal"
      ng-change="updateCities()">
    <span class="help-block" ng-if="submitted && ! cities.length">Ce code postal est invalide</span>
  </div>

  <div class="form-group required">
    <label class="control-label" for="postal-code-ville">Ville</label>
    <p class="form-control-static" ng-if="retrievingCities"><i class="fa fa-spinner fa-spin"></i></p>
    <select
      id="postal-code-ville"
      class="form-control"
      required
      ng-disabled="!cities.length"
      ng-options="city.nomCommune for city in cities track by city.codeInsee"
      ng-model="identite.ville">
    </select>
  </div>

  <pre>{{identite | json}}</pre>
  <div class="text-right">
    <button type="submit" name="submit" alt="Valider" class="btn btn-lg btn-primary">
        Suivant
    </button>
  </div>
</form>

