{
  "apps" : [
    {
      "name"      : "bourses",
      "script"    : "server/app.js",
      "instances"  : 4,
      "exec_mode"  : "cluster_mode",
      "env": {
        "NODE_ENV": "production",
        "PORT": 5000,
        "FC_CLIENT_ID": "abcdef",
        "SESSION_SECRET": "foobar",

        "DOMAIN": "http://bourse.sgmap.fr",
        "FC_CLIENT_SECRET": "123456",

        "DGFIP_HOST": "rvxdusx001.dgfip.finances.gouv.fr",
        "DGFIP_BASE_URL": "https://rvxdusx001.dgfip.finances.gouv.fr/courtier/bourse",
        "DGFIP_CERT_LOCATION": "/path/to.cert",
        "DGFIP_KEY_LOCATION": "/path/to.key",

        "NODE_TLS_REJECT_UNAUTHORIZED": 0,

        "MAILJET_SENDER": "abc@yourdomain.com",
        "MAILJET_API_KEY": "mailjet_api_key",
        "MAILJET_SECRET_KEY": "mailjet_secret_key"
      }
    }
  ]
}
