{
  "apps" : [
    {
      "name"      : "bourses",
      "script"    : "server/app.js",
      "instances"  : 4,
      "exec_mode"  : "cluster_mode",
      "env": {
        "PORT": 5000,
        "FC_CLIENT_ID": "abcdef",
        "FC_CLIENT_SECRET": "123456",
        "SESSION_SECRET": "foobar"
      }
    }
  ]
}
