<h1>Vos renseignements</h1>

<form name="infoForm" ng-submit="submit(infoForm)" novalidate>

  <div class="form-group required" ng-class="{'has-error': infoForm.nom.$invalid && infoForm.$submitted}">
    <label for="nom" class="control-label">Nom</label>
    <input id="nom" type="text" name="nom" class="form-control" ng-model="identite.nom" required>
    <div ng-messages="infoForm.nom.$error" ng-if="infoForm.$submitted">
      <p class="help-block" ng-message='required'>Ce champ est obligatoire.</p>
    </div>
  </div>

  <div class="form-group required" ng-class="{'has-error': infoForm.prenom.$invalid && infoForm.$submitted}">
    <label for="prenom" class="control-label">Prénom(s)</label>
    <input id="prenom" type="text" name="prenom" class="form-control" ng-model="identite.prenom" required>
    <div ng-messages="infoForm.prenom.$error" ng-if="infoForm.$submitted">
      <p class="help-block" ng-message='required'>Ce champ est obligatoire.</p>
    </div>
  </div>

  <div class="form-group required" ng-class="{'has-error': !identite.sexe && infoForm.$submitted}">
    <fieldset>
      <legend class="control-label">Sexe</legend>
      <input type="radio" name="sexe" id="sexe-m" ng-model="identite.sexe" ng-required="!identite.sexe" value="masculin">
      <label class="radio-inline" for="sexe-m">Fille</label>
      <input type="radio" name="sexe" id="sexe-f" ng-model="identite.sexe" ng-required="!identite.sexe" value="feminin">
      <label class="radio-inline" for="sexe-f">Garçon</label>
    </fieldset>
    <div ng-if="!identite.sexe && infoForm.$submitted">
      <p class="help-block">Ce champ est obligatoire.</p>
    </div>
  </div>

  <div class="form-group required"
    ng-class="{
      'has-error': infoForm.dateDeNaissance.$invalid && infoForm.$submitted
    }">
    <label class="control-label" for="date-de-naissance">
      Date de naissance <span class="small">au format jour/mois/année</span>
    </label>
    <input
      type="text"
      class="form-control"
      name="dateDeNaissance"
      id="date-de-naissance"
      required
      ng-model="identite.dateNaissance"
      input-date
      date-autocomplete
      placeholder="JJ/MM/AAAA"
      aria-describedby="help-date-de-naissance">
    <div ng-messages="infoForm.dateDeNaissance.$error" ng-if="infoForm.$submitted">
      <p class="help-block" id="help-date-de-naissance" ng-message='inputDate'>Veuillez utiliser le format JJ/MM/AAAA. Par exemple : 14/09/1989.</p>
      <p class="help-block" id="help-date-de-naissance" ng-message='required'>Ce champ est obligatoire.</p>
    </div>
  </div>

  <button type="submit" name="submit" alt="Valider" class="btn btn-success">
      Valider
  </button>

</form>
