#form-container {
  background-color: white;
}

ul#status-buttons {
  list-style-type: none;
  display: flex;
  justify-content: center;

  a {
    color: black;
    display:inline-block;
    font-size: 14px;
    margin-right: 40px;
    text-align: center;
    text-decoration: none;

    &:hover {
      text-decoration:none;
    }

    &.active span.round {
      background: $red;
      color: white;
    }
  }

  span.round {
    background: darken($white, 5%);
    display: block;
    height: 30px;
    margin: 0 auto 10px;
    padding-top: 5px;
    width: 30px;
    border-radius: 50%;
  }

  .muted {
    color: #DEDEDE;
    cursor: default;

    span {
      background: whitesmoke;
      &.hidden-xs {
        background: white;
      }
    }
  }
}

.nav-buttons {
  text-align: center;
  padding: 30px 0;
}

#form-views {
  color: white;
  padding: 40px 0 100px 0;
  background-color: $dark-blue;

  h1 {
    font-size: 40px;
    text-align: center;
    font-weight: 300;
    margin: 0;
    margin-bottom: 30px;
  }
}

.form-section {
  margin-bottom: 60px;

  h2 {
    font-size: 1.3em;
  }
}

@media(max-width: 767px) {
  #status-buttons {
    a {
      margin: 0 20px;
      font-size: 12px;
    }
  }
}
