<div class="container" id="form-container">
  <div id="status-buttons" class="nav-buttons">
    <a ui-sref-active="active" ui-sref="layout.nouvelle_demande.identite-enfant"><span>1</span> Identité de l'enfant</a>

    <a class="muted" ng-if="!steps.identiteEnfant"><span>2</span> Votre foyer</a>
    <a ui-sref-active="active" ng-if="steps.identiteEnfant" ui-sref="layout.nouvelle_demande.vos-ressources"><span>2</span> Votre foyer</a>

    <a class="muted" ng-if="!steps.connexion"><span>3</span> Vos renseignements</a>
    <a ui-sref-active="active" ng-if="steps.connexion" ui-sref="layout.nouvelle_demande.vos-renseignements"><span>3</span> Vos renseignements</a>
  </div>
</div>

<div id="form-views">
  <div class="container">
    <ui-view></ui-view>
  </div>
</div>
