<h1>Identité de l'enfant</h1>
<form name="infoForm" ng-submit="submit(infoForm)" novalidate>
  <div class="form-group required" ng-class="{'has-error': infoForm.nom.$invalid && infoForm.$submitted}">
    <label for="nom" class="control-label-flat">Nom</label>
    <input id="nom" type="text" name="nom" class="form-control-flat" ng-model="identite.nom" required>
    <div ng-messages="infoForm.nom.$error" ng-if="infoForm.$submitted">
      <p class="help-block" ng-message='required'><i class="fa fa-warning"></i> Ce champ est obligatoire.</p>
    </div>
  </div>

  <div class="form-group required" ng-class="{'has-error': infoForm.prenom.$invalid && infoForm.$submitted}">
    <label for="prenom" class="control-label-flat">Prénom</label>
    <input id="prenom" type="text" name="prenom" class="form-control-flat" ng-model="identite.prenom" required>
    <div ng-messages="infoForm.prenom.$error" ng-if="infoForm.$submitted">
      <p class="help-block" ng-message='required'><i class="fa fa-warning"></i> Ce champ est obligatoire.</p>
    </div>
  </div>

  <div class="form-group required" ng-class="{'has-error': !identite.sexe && infoForm.$submitted}">
    <fieldset>
      <legend class="control-label-flat">Sexe</legend>
      <div class="btn-group">
        <button type="button" class="btn btn-select" role="radio" ng-model="identite.sexe" btn-radio="'feminin'">Fille</button>
        <button type="button" class="btn btn-select" role="radio" ng-model="identite.sexe" btn-radio="'masculin'">Garçon</button>
      </div>
    </fieldset>
    <div ng-if="!identite.sexe && infoForm.$submitted">
      <p class="help-block">Ce champ est obligatoire.</p>
    </div>
  </div>

  <div class="form-group required"
    ng-class="{
      'has-error': infoForm.dateDeNaissance.$invalid && infoForm.$submitted
    }">
    <label class="control-label-flat" for="date-de-naissance">
      Date de naissance <span class="small">au format jour/mois/année</span>
    </label>
    <input
      type="text"
      class="form-control-flat"
      name="dateDeNaissance"
      id="date-de-naissance"
      required
      ng-model="identite.dateNaissance"
      input-date
      date-autocomplete
      placeholder="JJ/MM/AAAA"
      aria-describedby="help-date-de-naissance">
    <div ng-messages="infoForm.dateDeNaissance.$error" ng-if="infoForm.$submitted">
      <p class="help-block" id="help-date-de-naissance" ng-message='inputDate'><i class="fa fa-warning"></i> Veuillez utiliser le format JJ/MM/AAAA. Par exemple : 14/09/1989.</p>
      <p class="help-block" id="help-date-de-naissance" ng-message='required'><i class="fa fa-warning"></i> Ce champ est obligatoire.</p>
    </div>
  </div>

  <div class="form-group required" ng-class="{'has-error': !identite.college && infoForm.$submitted}">
    <label for="select-college" class="control-label-flat">Dans quel collège est-il inscrit</label>
    <select ng-model="identite.college" required name="college" id="select-college" class="form-control-flat"
      ng-options="college._id as college.nom group by college.ville.label for college in etablissements">
      <option>--</option>
    </select>
    <div ng-if="!identite.college && infoForm.$submitted">
      <p class="help-block"><i class="fa fa-warning"></i> Ce champ est obligatoire.</p>
    </div>
    <p class="help-block help-block-danger"><i class="fa fa-warning"></i> Seuls ces établissements pilotes peuvent traiter votre demande de bourse en ligne.</p>
  </div>

  <div class="form-group required" ng-class="{'has-error': !identite.regime && infoForm.$submitted}">
    <fieldset>
      <legend class="control-label-flat">Est-il</legend>
      <div class="btn-group">
        <button type="button" class="btn btn-select" role="radio" ng-model="identite.regime" btn-radio="'externe'">Externe</button>
        <button type="button" class="btn btn-select" role="radio" ng-model="identite.regime" btn-radio="'demi-pensionnaire'">Demi-pensionnaire</button>
        <button type="button" class="btn btn-select" role="radio" ng-model="identite.regime" btn-radio="'interne'">Interne</button>
      </div>
    </fieldset>
    <div ng-if="!identite.regime && infoForm.$submitted">
      <p class="help-block"><i class="fa fa-warning"></i> Ce champ est obligatoire.</p>
    </div>
  </div>

  <div class="text-right">
    <button type="submit" name="submit" alt="Valider" class="btn btn-lg btn-action">
        Étape suivante <i class="fa fa-long-arrow-right"></i>
    </button>
  </div>
</form>
