<div id="college-form" class="container">
  <form name="infoForm" ng-submit="submit(infoForm)" novalidate>

    <div class="form-group required">
      <fieldset>
        <legend class="control-label-flat">Ouverture du service</legend>
        <div class="btn-group">
          <button type="button" class="btn btn-select btn-select-success" role="radio" ng-model="college.ouverture_service" btn-radio="true">Le service est ouvert</button>
          <button type="button" class="btn btn-select btn-select-danger" role="radio" ng-model="college.ouverture_service" btn-radio="false">Le service est fermé</button>
        </div>
      </fieldset>
    </div>

    <div class="form-group required" ng-class="{'has-error': infoForm.nom.$invalid && infoForm.$submitted}">
      <label for="nom" class="control-label-flat">Nom du collège</label>
      <input id="nom" type="text" name="nom" class="form-control-flat" ng-model="college.nom" required>
      <div ng-messages="infoForm.nom.$error" ng-if="infoForm.$submitted">
        <p class="help-block" ng-message='required'><i class="fa fa-warning"></i> Ce champ est obligatoire.</p>
      </div>
    </div>

    <div class="form-group required" ng-class="{'has-error': infoForm.chef_etablissement.$invalid && infoForm.$submitted}">
      <label for="chef_etablissement" class="control-label-flat">Nom du chef d'établissement</label>
      <input id="chef_etablissement" type="text" name="chef_etablissement" class="form-control-flat" ng-model="college.chef_etablissement" required>
      <div ng-messages="infoForm.chef_etablissement.$error" ng-if="infoForm.$submitted">
        <p class="help-block" ng-message='required'><i class="fa fa-warning"></i> Ce champ est obligatoire.</p>
      </div>
    </div>

    <div class="form-group required" ng-class="{'has-error': infoForm.contact.$invalid && infoForm.$submitted}">
      <label for="contact" class="control-label-flat">Email de contact</label>
      <input id="contact" type="text" name="contact" class="form-control-flat" ng-model="college.contact" required>
      <div ng-messages="infoForm.contact.$error" ng-if="infoForm.$submitted">
        <p class="help-block" ng-message='required'><i class="fa fa-warning"></i> Ce champ est obligatoire.</p>
      </div>
    </div>

    <div class="form-group">
      <label for="telephone" class="control-label-flat">Téléphone de contact</label>
      <input id="telephone" type="text" name="telephone" class="form-control-flat" ng-model="college.telephone">
    </div>

    <div class="form-group required" ng-class="{'has-error': infoForm.adresse.$invalid && infoForm.$submitted}">
      <label for="adresse" class="control-label-flat">Adresse</label>
      <input id="adresse" type="text" name="adresse" class="form-control-flat" ng-model="college.adresse" required>
      <div ng-messages="infoForm.adresse.$error" ng-if="infoForm.$submitted">
        <p class="help-block" ng-message='required'><i class="fa fa-warning"></i> Ce champ est obligatoire.</p>
      </div>
    </div>

    <div class="form-group required" ng-class="{'has-error': infoForm.nomVille.$invalid && infoForm.$submitted}">
      <label for="nomVille" class="control-label-flat">Ville</label>
      <input id="nomVille" type="text" name="nomVille" class="form-control-flat" ng-model="college.ville.nom" required>
      <div ng-messages="infoForm.nomVille.$error" ng-if="infoForm.$submitted">
        <p class="help-block" ng-message='required'><i class="fa fa-warning"></i> Ce champ est obligatoire.</p>
      </div>
    </div>

    <div class="form-group required" ng-class="{'has-error': infoForm.codePostal.$invalid && infoForm.$submitted}">
      <label for="codePostal" class="control-label-flat">Code postal</label>
      <input id="codePostal" type="text" name="codePostal" class="form-control-flat" ng-model="college.ville.codePostal" required>
      <div ng-messages="infoForm.codePostal.$error" ng-if="infoForm.$submitted">
        <p class="help-block" ng-message='required'><i class="fa fa-warning"></i> Ce champ est obligatoire.</p>
      </div>
    </div>

    <div class="form-group">
      <fieldset>
        <legend class="control-label-flat">Activer la gestion des demandes de tarif social de cantine <br><small class="text-muted">Si vous activez cette gestion, nous rajoutons une nouvelle question lors du remplissage de la demande pour votre collège.<br>Cette question est: "Souhaitez-vous également faire une demande de tarif social de cantine ? Oui / Non"</small></legend>

        <div class="btn-group">
          <button type="button" class="btn btn-select" role="radio" ng-model="college.gestion_cantine" btn-radio="true">Oui</button>
          <button type="button" class="btn btn-select" role="radio" ng-model="college.gestion_cantine" btn-radio="false">Non</button>
        </div>
      </fieldset>
    </div>

    <div class="text-right">
      <button type="submit" name="submit" alt="Valider" class="btn btn-lg btn-action-invert">
          Valider
      </button>
    </div>
  </form>

  <hr>

  <h1>Statistiques</h1>

  <p class="lead">Demandes par taux <small>(Total des demandes: {{total}})</small></p>

  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <canvas id="pie" class="chart chart-pie" chart-data="count" chart-labels="['Refus', 'Taux 1', 'Taux 2', 'Taux 3']" chart-legend="true"></canvas>
    </div>
  </div>

  <accordion>
    <accordion-group ng-repeat="(group, demandes) in groups" heading="{{getLabel(group, demandes)}}">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>
              <i ng-if="type === 'enfant' && !reverse" class="fa fa-sort-alpha-asc"></i>
              <i ng-if="type === 'enfant' && reverse" class="fa fa-sort-alpha-desc"></i>
              <a href="#" ng-click="toggleSort('enfant')">Enfant</a>
            </th>
            <th>
              <i ng-if="type === 'adulte' && !reverse" class="fa fa-sort-alpha-asc"></i>
              <i ng-if="type === 'adulte' && reverse" class="fa fa-sort-alpha-desc"></i>
              <a href="#" ng-click="toggleSort('adulte')">Demandeur</a>
            </th>
            <th>
              <i ng-if="type === 'email' && !reverse" class="fa fa-sort-alpha-asc"></i>
              <i ng-if="type === 'email' && reverse" class="fa fa-sort-alpha-desc"></i>
              <a href="#" ng-click="toggleSort('email')">Email</a>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="demande in demandes | orderBy: expression: reverse track by demande._id">
            <td>{{demande.identiteEnfant.prenom | capitalize}}, {{demande.identiteEnfant.nom | capitalize}}</td>
            <td>{{demande.identiteAdulte.demandeur.prenoms | capitalize}}, {{demande.identiteAdulte.demandeur.nom | capitalize}}</td>
            <td>{{demande.identiteAdulte.email}}</td>
          </tr>
        </tbody>
      </table>
    </accordion-group>
  </accordion>

</div>
