$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

$blue: #3498DB;
$dark-blue: #2980B9;
$darker-blue: #425466;
$orange: #FD7400;
$red: #E74C3C;
$dark-red: #D24436;
$white: #ECF0F1;

/**
 * App-wide Styles
 */
.browsehappy {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10000;
  background: #ccc;
  color: #000;
  padding-top: 20px;
}

.help-block {
  font-size: 12px;
  margin: 0;
  padding: 0;

  &.help-block-danger {
    color: $dark-red;
  }
}

.form-control-flat {
  background-color: $white;
  border: none;
  font-size: 1.4em;
  padding: 5px 10px;
  width: 100%;
  color: $darker-blue;
  border-radius: 4px;

  :first-child {
    font-size: 1em;
  }
}

.has-error
.checkbox {
  color: white;
}

select.form-control-flat {
  font-size: 1.2em;
  height: 2em;
  border-radius: 0;

  &:disabled {
    background-color: darken($white, 10%);
  }
}

.has-error
.btn-select {
  border-bottom: 2px solid $dark-red;
}

.has-error
.form-control-flat {
  border-bottom: 2px solid $dark-red;
}

.has-error
.help-block-warning {
  .fa {
    color: orange !important;
  }
  color: white !important;
}

.help-block {
  .fa {
    color: orange;
  }

  color: white;
  padding: 4px;
  padding-left: 10px;
}

.has-error
.help-block {
  color: white;
  .fa {
    color: $dark-red;
  }
}

.btn-action-container {
  padding-top: 20px;
}

.btn-action {
  background-color: $white;
  color: $darker-blue;
  box-shadow: 0 2px darken($dark-blue, 15%);

  &:hover {
    background-color: $darker-blue;
    color: $white;
  }

  &:focus {
    background-color: $darker-blue;
    color: $white;
  }
}

.btn-action-invert {
  background-color: $blue;
  color: $white;
  box-shadow: 0 2px darken($dark-blue, 15%);

  &:hover {
    background-color: $darker-blue;
    color: $white;
  }

  &:focus {
    background-color: $darker-blue;
    color: $white;
  }
}

.btn-group > .btn-select.active {
  z-index: 1;
}

.btn-select {
  color: #333;
  padding: 10px 20px;
  background-color: $white;
  border-radius: 5px;
  border: none;
  z-index: 2;
  // box-shadow: 0 3px darken($dark-blue, 15%);

  &.active {
    background-color: $darker-blue;
    color: white;
    // box-shadow: 0 1px darken($dark-blue, 15%);
    // transform: translateY(2px);
  }

  &:hover {
    background-color: darken($darker-blue, 5%);
    color: white;
  }

  &:active {
    background-color: darken($darker-blue, 5%);
    color: white;
    // box-shadow: 0 1px darken($dark-blue, 15%);
    // transform: translateY(2px);
  }

  &:focus {
    background-color: darken($darker-blue, 5%);
    color: white;
  }
}

.form-group.required .control-label-flat:after {
  content:" *";
  color: $dark-red;
}

.control-label-flat {
  font-weight: 200;
  max-width: 100%;
  margin-bottom: 5px;
  font-size: 1em;
  border-bottom: none;
  color: white;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: $white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: $white;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: $white;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color: $white;
}

.vertical-hr {
  border-left: 1px solid darken($blue, 5%);
}

@media(max-width: 767px) {
  .btn-select {
    padding: 5px 10px;
  }

  .btn-lg {
    padding: 6px 11px;
  }
}

.modal-body {
  background-color: whitesmoke;
  color: #333;
  padding-top: 30px;
}

.modal-footer {
  background-color: $dark-blue;
  border-top: 1px solid $darker-blue;
}

@mixin primary-action {
  border-radius: 5px;
  color: $red;

  &:hover {
    color: white;
    text-decoration: none;
    background-color: $red;
  }
}

h1 {
  font-size: 30px;
}

.btn-action-danger {
  @extend .btn-action;
  background-color: $red;
  box-shadow: 0 2px darken($red, 15%);
  color: white;

  &:hover {
    background-color: darken($red, 15%);
  }
}

.btn-group > .btn:first-child {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;

  &.btn-action-invert {
    border-right: 2px solid darken($blue, 5%);

    &:hover {
      border-right: 2px solid $darker-blue;
    }
  }
}

// Component styles are injected through grunt
// injector
@import 'admin/admin.scss';
@import 'college/college.scss';
@import 'college/demandes/edit.scss';
@import 'college/demandes/list.scss';
@import 'home/home.scss';
@import 'layout/layout.scss';
@import 'login/login.scss';
@import 'merci/merci.scss';
@import 'nouvelle_demande/form_layout.scss';
@import 'nouvelle_demande/nouvelle_demande.scss';
@import 'nouvelle_demande/vos-ressources/vos-ressources.scss';
@import 'stats/stats.scss';
@import 'connection/connection.scss';
// endinjector
