<h1>L’enfant pour lequel vous demandez la bourse</h1>

<form name="infoForm" ng-submit="submit(infoForm)" novalidate>

  <div class="form-group required" ng-class="{'has-error': infoForm.nom.$invalid && infoForm.$submitted}">
    <label for="nom" class="control-label">Nom</label>
    <input id="nom" type="text" name="nom" class="form-control" ng-model="identite.nom" required>
    <div ng-messages="infoForm.nom.$error" ng-if="infoForm.$submitted">
      <p class="help-block" ng-message='required'>Ce champ est obligatoire.</p>
    </div>
  </div>

  <div class="form-group required" ng-class="{'has-error': infoForm.prenom.$invalid && infoForm.$submitted}">
    <label for="prenom" class="control-label">Prénom(s)</label>
    <input id="prenom" type="text" name="prenom" class="form-control" ng-model="identite.prenom" required>
    <div ng-messages="infoForm.prenom.$error" ng-if="infoForm.$submitted">
      <p class="help-block" ng-message='required'>Ce champ est obligatoire.</p>
    </div>
  </div>

  <div class="form-group required" ng-class="{'has-error': !identite.sexe && infoForm.$submitted}">
    <fieldset>
      <legend class="control-label">Sexe</legend>
      <input type="radio" name="sexe" id="sexe-f" ng-model="identite.sexe" ng-required="!identite.sexe" value="feminin">
      <label class="radio-inline" for="sexe-f">Fille</label>
      <input type="radio" name="sexe" id="sexe-m" ng-model="identite.sexe" ng-required="!identite.sexe" value="masculin">
      <label class="radio-inline" for="sexe-m">Garçon</label>
    </fieldset>
    <div ng-if="!identite.sexe && infoForm.$submitted">
      <p class="help-block">Ce champ est obligatoire.</p>
    </div>
  </div>

  <div class="form-group required"
    ng-class="{
      'has-error': infoForm.dateDeNaissance.$invalid && infoForm.$submitted
    }">
    <label class="control-label" for="date-de-naissance">
      Date de naissance <span class="small">au format jour/mois/année</span>
    </label>
    <input
      type="text"
      class="form-control"
      name="dateDeNaissance"
      id="date-de-naissance"
      required
      ng-model="identite.dateNaissance"
      input-date
      date-autocomplete
      placeholder="JJ/MM/AAAA"
      aria-describedby="help-date-de-naissance">
    <div ng-messages="infoForm.dateDeNaissance.$error" ng-if="infoForm.$submitted">
      <p class="help-block" id="help-date-de-naissance" ng-message='inputDate'>Veuillez utiliser le format JJ/MM/AAAA. Par exemple : 14/09/1989.</p>
      <p class="help-block" id="help-date-de-naissance" ng-message='required'>Ce champ est obligatoire.</p>
    </div>
  </div>

  <div class="form-group required" ng-class="{'has-error': !identite.college && infoForm.$submitted}">
    <label for="college" class="control-label">Dans quel collège est-il inscrit</label>
    <select ng-model="identite.college" required id="college" class="form-control"
      ng-options="college._id as college.nom group by college.ville.label for college in etablissements">
      <option>--</option>
    </select>
    <div ng-if="!identite.college && infoForm.$submitted">
      <p class="help-block">Ce champ est obligatoire.</p>
    </div>
  </div>

  <div class="form-group required" ng-class="{'has-error': !identite.regime && infoForm.$submitted}">
    <fieldset>
      <legend class="control-label">Est-t-il</legend>
      <input type="radio" name="regime" id="regime-externe" ng-model="identite.regime" ng-required="!identite.regime" value="externe">
      <label class="radio-inline" for="regime-externe">Externe</label>
      <input type="radio" name="regime" id="regime-demi-pensionnaire" ng-model="identite.regime" ng-required="!identite.regime" value="demi-pensionnaire">
      <label class="radio-inline" for="regime-demi-pensionnaire">Demi-pensionnaire</label>
      <input type="radio" name="regime" id="regime-interne" ng-model="identite.regime" ng-required="!identite.regime" value="interne">
      <label class="radio-inline" for="regime-interne">Interne</label>
    </fieldset>
    <div ng-if="!identite.regime && infoForm.$submitted">
      <p class="help-block">Ce champ est obligatoire.</p>
    </div>
  </div>

  <div class="text-right">
    <button type="submit" name="submit" alt="Valider" class="btn btn-lg btn-success">
        Étape suivante
    </button>
  </div>
</form>
