<h1>Vos renseignements</h1>

<form name="infoForm" ng-submit="submit(infoForm)" novalidate>
  <div class="form-section">
    <div class="form-group required" ng-class="{'has-error': !identite.demandeur && infoForm.$submitted}">
      <label for="demandeur" class="control-label-flat">Vous êtes</label>
      <select ng-model="identite.demandeur" required id="demandeur" class="form-control-flat"
        ng-options="declarant as getLabel(declarant) for declarant in dataDemandeur.identites track by declarant.prenoms">
        <option>--</option>
      </select>
      <div ng-if="!identite.demandeur && infoForm.$submitted">
        <p class="help-block"><i class="fa fa-warning"></i> Ce champ est obligatoire.</p>
      </div>
    </div>

    <div class="form-group required" ng-class="{'has-error': !identite.lien && infoForm.$submitted}">
      <fieldset>
        <legend class="control-label-flat">
          Votre relation avec {{identiteEnfant.prenom}}
        </legend>
        <div class="btn-group">
          <button type="button" class="btn btn-select" role="radio" ng-model="identite.lien" uib-btn-radio="'pere'">Le père</button>
          <button type="button" class="btn btn-select" role="radio" ng-model="identite.lien" uib-btn-radio="'mere'">La mère</button>
          <button type="button" class="btn btn-select" role="radio" ng-model="identite.lien" uib-btn-radio="'responsable'">Le représentant légal</button>
        </div>
      </fieldset>

      <div ng-if="!identite.lien && infoForm.$submitted">
        <p class="help-block"><i class="fa fa-warning"></i> Ce champ est obligatoire.</p>
      </div>
    </div>
  </div>

  <div class="form-section">
    <h2>Vos informations bancaires</h2>
    <p>Pour des raisons de contrôle comptable, il est possible que votre collège vous demande un exemplaire papier de votre RIB.</p>

    <div class="form-group required" ng-class="{'has-error': infoForm.iban.$invalid && infoForm.$submitted}">
      <label for="iban-input" class="control-label-flat">IBAN</label>
      <input type="text" id="iban-input" class="form-control-flat" name="iban" ng-model="identite.iban" ng-iban="FR" required/>
      <p class="help-block"><i class="fa fa-warning"></i> Le titulaire de ce compte doit être la personne qui fait la demande de bourse.</p>
      <div ng-messages="infoForm.iban.$error" ng-if="infoForm.$submitted">
        <p class="help-block" ng-message='required'><i class="fa fa-warning"></i> Ce champ est obligatoire.</p>
        <p class="help-block" ng-message='iban'><i class="fa fa-warning"></i> L'IBAN saisi est incorrect.</p>
      </div>
    </div>

    <div class="form-group required" ng-class="{'has-error': infoForm.bic.$invalid && infoForm.$submitted}">
      <label for="input-bic" class="control-label-flat">BIC</label>
      <input type="text" id="input-bic" class="form-control-flat" minlength="8" maxlength="11" name="bic" ng-model="identite.bic" required/>
      <div ng-messages="infoForm.bic.$error" ng-if="infoForm.$submitted">
        <p class="help-block" ng-message='required'><i class="fa fa-warning"></i> Ce champ est obligatoire.</p>
        <p class="help-block" ng-message='minlength maxlength'><i class="fa fa-warning"></i> Le BIC saisi est incorrect, il doit être de 8 ou 11 caractères.</p>
      </div>
    </div>
  </div>

  <div class="form-section">
    <h2>Pour vous tenir informés de l'avancement de votre demande</h2>
    <div class="form-group required" ng-class="{'has-error': infoForm.email.$invalid && infoForm.$submitted}">
      <label for="email" class="control-label-flat">Email</label>
      <input id="email" type="email" name="email" class="form-control-flat" ng-model="identite.email" required>
      <div ng-messages="infoForm.email.$error" ng-if="infoForm.$submitted">
        <p class="help-block" ng-message='required'><i class="fa fa-warning"></i> Ce champ est obligatoire.</p>
        <p class="help-block" ng-message='email'><i class="fa fa-warning"></i> L'adresse email saisie est incorrecte.</p>
      </div>
    </div>

    <div class="form-group">
      <label for="phone" class="control-label-flat">Téléphone</label>
      <input id="phone" type="phone" name="phone" class="form-control-flat" ng-model="identite.phone">
    </div>
  </div>

  <div class="final-send">
    <p>Je soussigné, <b>{{getLabel(identite.demandeur)}}</b>, <b>{{identite.lien | lien:true}}</b> de <b>{{identiteEnfant.prenom}} {{identiteEnfant.nom}}</b> <span ng-if="identite.iban">et <b>titulaire du compte {{identite.iban}}</b></span>, certifie sur l'honneur que les renseignements portés sur cette déclaration sont exacts. La loi punit quiconque se rend coupable de fraude ou de fausses déclarations (loi N° 68-690 du 31 juillet 1968, article 22).</p>

    <button type="submit" ladda="loading" data-style="expand-right" name="submit" alt="Valider" class="btn btn-lg btn-success">
        Envoyer ma demande
    </button>
  </div>

</form>
