a.action {
  .fa {
    font-size: 1.2em;
    color: white;
  }

  &:hover {
    cursor: pointer;
  }
}

.connect-fc-img > a {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;

  img {
    margin: auto;
  }
}

.modal-body {
  img {
    margin-bottom: 20px;
  }
}
