a.action {
  .fa {
    font-size: 2em;
    color: white;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;

    &:hover {
      color: $darker-blue;
      cursor: pointer;
    }
  }

  .control-label-flat {
    margin-top: 4px;
  }
}

.connect-fc-img > a {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;

  img {
    margin: auto;
  }
}

.modal-body {
  img {
    margin-bottom: 20px;
  }
}
