<div class="modal-body">
  <div class="text-center">
    <img src="assets/images/numfiscal.gif" alt="Exemple de déclaration de revenus" class="img-thumbnail">
  </div>

  <p>Votre numéro fiscal est votre identifiant unique que vous utilisez pour toutes vos démarches fiscales.</p>
  <p>Vous pouvez le retrouver facilement sur les principaux documents qui vous sont adressés concernant votre situation fiscale (déclaration de revenus - cf. ci-dessus -, avis d'impôt sur le revenu et d'impôts locaux, lettre éco-papier...).</p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
</div>
