<div class="modal-body">
  <div class="text-center">
    <img src="assets/images/numavis.png" alt="Exemple de référence d'avis d'imposition" class="img-thumbnail">
  </div>

  <p>La référence de l’avis est un identifiant fiscal qui permet de retrouver votre avis d’impôt sur le revenu.</p>
  <p>Il est composé de 13 caractères alphanumériques. Il est situé en haut à gauche du justificatif dans le cadre Vos identifiants ou de l’avis dans le cadre Vos références.</p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
</div>

