#college {
  background-color: white;

  .header {
    padding-bottom: 20px;
  }

  #college-form {
    background-color: whitesmoke;
    color: $darker-blue;
    padding: 20px;
    border-radius: 4px;
  }

  .control-label-flat {
    color: $darker-blue;
  }

  .form-control-flat {
    color: #444444;
  }

  .content-box {
    background-color: $dark-blue;
    color: white;
    padding: 30px 0;
  }

  .nav-sections {
    background-color: $darker-blue;
    padding: 10px 0;

    li.active {
      a:focus, a:hover {
        color: white;
      }
    }

    a {
      color: $white;

      &:focus, &:hover {
        color: $darker-blue;
      }
    }
  }
}

.list-group-item {
  background-color: white;
  color: $darker-blue;
}
