#college {
  background-color: white;

  .header {
    padding-bottom: 15px;

    li a.active,
    li:hover a,
    li:focus a {
      color: white;
      background-color: $blue;
    }
  }

  .college-container {
    @extend .container;
  }

  #college-form {
    background-color: whitesmoke;
    color: $darker-blue;
    padding: 20px;
    border-radius: 4px;
    margin-top: 30px;
  }

  .control-label-flat {
    color: $darker-blue;
  }

  .form-control-flat {
    color: #444444;
  }

  .content-box {
    background-color: $dark-blue;
    color: white;
    padding: 0 0 30px 0;
  }

  .nav-sections {
    background-color: $darker-blue;
    padding: 15px 0;

    li.active {
      a:focus, a:hover {
        color: white;
      }
    }

    a {
      color: $white;

      &:focus, &:hover {
        color: $darker-blue;
      }
    }
  }
}

.btn-action-menu {
  @extend .btn-action-invert;
  padding: 10px 15px;

  &:focus, &:hover {
    background-color: $white;
    color: $darker-blue;
  }
}

.list-group-item {
  background-color: white;
  color: $darker-blue;
}
