<div class="row">
  <div class="col-md-9">
    <div id="edition-demande">
      <section>
        <h2>Résumé de la demande
          <a class="btn btn-action-invert pull-right" href="/api/demandes/{{demandeId}}/random/download?access_token={{token}}" target="_blank" download="detail_{{demande.identiteAdulte.demandeur.nom}}_{{demande.identiteAdulte.demandeur.prenoms}}.pdf">
            Télécharger le détail au format PDF
          </a>
          <br>
          <small> Statut: {{demande.status | status}} / Passée le {{demande.createdAt | date}}</small>
        </h2>

        <div ng-if="demande.status === 'done'" class="alert alert-info">
          Notification envoyée le <strong>{{demande.notification.createdAt | date}}</strong> à l'adresse <strong>{{demande.notification.email}}</strong>, pour un montant de <strong>{{demande.notification.montant}} euros</strong>.
        </div>

        <div ng-if="demande.status === 'error'" class="alert alert-danger">
          {{demande.error.msg}}
        </div>

        <div class="actions">
          <a ng-click="delete()" class="btn btn-action-danger">Supprimer</a>
        </div>

        <div ng-if="demande.isDuplicate" class="alert alert-danger">
          Cette demande est peut-être un doublon de:
          <ul>
            <li ng-repeat="(idx, duplicate) in demande.duplicates">
              <a target="_blank" ui-sref="layout.college.demandes.edit({demandeId: duplicate})">Doublon possible numéro {{idx + 1}}</a>
            </li>
          </ul>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="info-label">Identité du demandeur</div>
            <p class="info">{{demande.identiteAdulte.demandeur.prenoms}} {{demande.identiteAdulte.demandeur.nom}}</p>
          </div>
          <div class="col-md-6">
            <div class="info-label">Identité de l'enfant</div>
            <p class="info">{{demande.identiteEnfant.prenom}} {{demande.identiteEnfant.nom}}</p>
          </div>
        </div>

        <div class="info-label">Revenu fiscal de référence</div>
        <p class="info">{{demande.rfr}} €</p>

        <div class="row">
          <div class="col-md-6">
            <div class="info-label">Nombre d'enfants <strong>mineurs</strong> ou infirmes</div>
            <p class="info">{{demande.foyer.nombreEnfantsACharge}}</p>
          </div>
          <div class="col-md-6">
            <div class="info-label">Nombre d'enfants <strong>majeurs</strong> célibataires</div>
            <p class="info">{{demande.foyer.nombreEnfantsAdultes}}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="info-label">Déductibilité</div>
            <p class="info">{{demande.identiteEnfant.regime | deductibilite}}</p>
          </div>
          <div class="col-md-6" ng-if="college.gestion_cantine">
            <div class="info-label">Demande d'aide départementale pour la demi-pension</div>
            <p class="info">{{demande.identiteEnfant.cantine | boolean}}</p>
          </div>
        </div>

        <h2>Vos observations</h2>

        <div ng-switch="saving">
          <p ng-switch-when="waiting"><i class="fa fa-spin fa-cog"></i> En attente</p>
          <p ng-switch-when="pending"><i class="fa fa-spin fa-cog"></i> Sauvegarde en cours</p>
          <p ng-switch-when="success" class="text-success"><i class="fa fa-check"></i> Sauvegarde effectuée</p>
        </div>

        <div class="form-group">
          <textarea
            class="form-control"
            ng-model-options="{ debounce: 1000 }"
            ng-change="save()"
            ng-keydown="saving = 'waiting'"
            ng-model="demande.observations"
            rows="5"></textarea>
        </div>

        <div class="text-right" ng-if="demande.status === 'new' || demande.status === 'pending'">
          <a ng-click="pauseDemande()" class="btn btn-action-invert"><i class="fa fa-calendar"></i> Mettre cette demande en attente</a>
        </div>
      </section>

      <section id="section-bancaire">
        <h2>Renseignements bancaires</h2>

        <div class="info-label">Titulaire du compte</div>
        <p class="info">{{demande.identiteAdulte.titulaire}}</p>

        <div class="info-label">IBAN</div>
        <p class="info">{{demande.identiteAdulte.iban}}</p>

        <div class="info-label">BIC</div>
        <p class="info">{{demande.identiteAdulte.bic}}</p>
      </section>

      <section id="section-enfant">
        <h2>Identité de l'enfant</h2>

        <div class="row">
          <div class="col-sm-3">
            <div class="info-label">Nom</div>
            <p class="info">{{demande.identiteEnfant.nom}}</p>
          </div>
          <div class="col-sm-3">
            <div class="info-label">Prénom</div>
            <p class="info">{{demande.identiteEnfant.prenom}}</p>
          </div>
        </div>

        <div class="info-label">Date de naissance</div>
        <p class="info">{{demande.identiteEnfant.dateNaissance | date}}</p>

        <div class="info-label">Régime</div>
        <p class="info">{{demande.identiteEnfant.regime | regime}}</p>
      </section>

      <section id="section-adulte">
        <h2>Identité de l'adulte</h2>

        <div class="row">
          <div class="col-sm-3">
            <div class="info-label">Nom</div>
            <p class="info">{{demande.identiteAdulte.demandeur.nom}}</p>
          </div>
          <div class="col-sm-3">
            <div class="info-label">Prénom</div>
            <p class="info">{{demande.identiteAdulte.demandeur.prenoms}}</p>
          </div>
        </div>

        <div class="info-label">Lien avec l'enfant</div>
        <p class="info">{{demande.identiteAdulte.lien | lien}}</p>

      </section>

      <section id="section-foyer">
        <h2>Renseignements du foyer</h2>

        <div class="row">
          <div class="col-sm-3">
            <div class="info-label">Nombre d'enfants mineurs ou infirmes</div>
            <p class="info">{{demande.foyer.nombreEnfantsACharge}}</p>
          </div>
          <div class="col-sm-3">
            <div class="info-label">Nombre d'enfants majeurs célibataires</div>
            <p class="info">{{demande.foyer.nombreEnfantsAdultes}}</p>
          </div>
        </div>

        <div class="info-label">Garde alternée</div>
        <p class="info">{{demande.identiteEnfant.garde}}</p>
      </section>

      <section id="section-contact">
        <h2>Renseignements de contact</h2>

        <div class="info-label">E-mail</div>
        <p class="info"><a href="mailto:{{demande.identiteAdulte.email}}">{{demande.identiteAdulte.email}}</a></p>

        <div class="info-label">Téléphone</div>
        <p class="info">{{demande.identiteAdulte.telephone || 'Pas de téléphone renseigné'}}</p>
      </section>

      <section id="section-impots">
        <h2>Renseignements issus de la déclaration d'impôt <strong>{{demande.data.anneeImpots}}</strong> sur les revenus de l'année <strong>{{demande.data.anneeRevenus}}</strong></h2>

        <div class="info-label">Nombre de parts</div>
        <p class="info">{{demande.data.nombreParts}}</p>

        <div class="info-label">Revenu fiscal de référence</div>
        <p class="info">{{demande.data.revenuFiscalReference}} €</p>

        <div class="info-label">Situation familiale</div>
        <p class="info">{{demande.data.situationFamille}}</p>

        <div class="info-label">Vit-il avec l'autre parent ?</div>
        <p class="info">{{demande.foyer.concubinage}}</p>
      </section>

      <section id="section-impots-conjoint">
        <div ng-if="demande.data_conjoint">
          <h2>Renseignements issus de la déclaration d'impôt du conjoint <strong>{{demande.data.anneeImpots}}</strong> sur les revenus de l'année <strong>{{demande.data.anneeRevenus}}</strong></h2>

          <div class="info-label">Nombre de parts</div>
          <p class="info">{{demande.data_conjoint.nombreParts}}</p>

          <div class="info-label">Revenu fiscal de référence</div>
          <p class="info">{{demande.data_conjoint.revenuFiscalReference}} €</p>

          <div class="info-label">Situation familiale</div>
          <p class="info">{{demande.data_conjoint.situationFamille}}</p>
        </div>
        <div ng-if="!demande.data_conjoint">
          <h2>Pas de déclaration du conjoint</h2>
        </div>

      </section>
    </div>
  </div>
  <div class="col-md-3">
    <nav id="nav-menu" class="edition-demande-nav hidden-print hidden-xs hidden-sm">
      <ul class="nav">
        <li><a href="#top">Résumé de la demande</a></li>
        <li><a href="#section-bancaire">Renseignements bancaires</a></li>
        <li><a href="#section-enfant">Identité de l'enfant</a></li>
        <li><a href="#section-adulte">Identité de l'adulte</a></li>
        <li><a href="#section-foyer">Renseignements du foyer</a></li>
        <li><a href="#section-contact">Renseignements de contact</a></li>
        <li><a href="#section-impots">Renseignements issus de la déclaration d'impôt</a></li>
        <li><a href="#section-impots-conjoint">Renseignements issus de la déclaration d'impôt du conjoint</a></li>
      </ul>
    </nav>
  </div>
</div>
