#edition-demande {
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  color: #333;

  .info-label {
    font-size: 12px;
    line-height: 1;
  }

  p.info {
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
  }

}
