#edition-demande {
  color: #333;

  .info-label {
    font-size: 12px;
    line-height: 1;
  }

  p.info {
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
  }

  .page-header {
    background-color: white;
    border-radius: 4px;
    padding: 20px;
    margin: 0;
  }

  section {
    border-bottom: 1px solid #E2E2E2;
    background-color: white;
    padding: 20px;
  }

  .drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    text-align: center;
    padding: 25px;

    &.done {
      border: none;
    }
  }

  .dragover {
    border: 5px dashed $blue;
  }
}

.edition-demande-nav {
  color: #333;
  background-color: white;
}
