.finished {
  font-size: 5em;
  text-align: center;
  padding: 50px 0;
}

.table {
  background-color: $white;
  border-radius: 4px;
  color: $darker-blue;

  thead th {
    font-weight: 200;
  }

  tr.new {
    font-weight: 600;
  }

  .duplicate {
    background-color: $red !important;
    color: white;

    a.detail {
      color: white;
      font-weight: bold;
    }
  }

  .warning-demande {
    background-color: $orange !important;
    color: white;

    a.detail {
      color: white;
      font-weight: bold;
    }
  }

  .btn-group {
    display: flex;
  }
}

#recherche {
  padding: 15px 0;

  .form-control {
    border: none;
    box-shadow: 0 2px #1b557a;
  }

  .btn-action {
    height: 34px;
  }
}

ul.no-margin {
  margin: 0;
}
