.finished {
  font-size: 5em;
  text-align: center;
  padding: 50px 0;
}

.table {
  background-color: $white;
  border-radius: 4px;
  color: $darker-blue;

  thead th {
    font-weight: 200;
    text-align: center;
  }

  > tbody > tr > td {
    text-align: center;
    vertical-align: middle;

    .btn-action-invert {
      width: 100%;
    }
  }
}
