<ui-view>
  <div class="row" id="recherche">
    <div class="col-sm-5">
      <form novalidate class="simple-form">
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Recherche" ng-model="recherche">
            <span class="input-group-btn">
              <input type="submit" class="btn btn-action" value="Rechercher" ng-click="search(recherche)">
            </span>
          </div>
        </div>
      </form>
    </div>
    <div class="col-sm-7 text-right">
      <ul uib-pagination class="no-margin" total-items="count[status]" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="pageChanged(currentPage)" previous-text="Précédente" next-text="Suivante" boundary-link-numbers="true" rotate="false"></ul>
    </div>
  </div>

  <div ng-if="demandes.length === 0 && demandes.$resolved" class="finished">
    <i class="fa fa-thumbs-up"></i>
  </div>

  <div ng-if="demandes.length !== 0">

    <table class="table table-striped">
      <thead>
        <tr>
          <th>
            <i ng-if="sortType === 'enfant' && !reverse" class="fa fa-sort-alpha-asc"></i>
            <i ng-if="sortType === 'enfant' && reverse" class="fa fa-sort-alpha-desc"></i>
            <a href="#" ng-click="toggleSort('enfant')">Enfant</a>
          </th>
          <th>
            <i ng-if="sortType === 'adulte' && !reverse" class="fa fa-sort-alpha-asc"></i>
            <i ng-if="sortType === 'adulte' && reverse" class="fa fa-sort-alpha-desc"></i>
            <a href="#" ng-click="toggleSort('adulte')">Demandeur</a>
          </th>
          <th>Revenu fiscal</th>
          <th>Enfants mineurs</th>
          <th>Enfants majeurs</th>
          <th>Déductibilité</th>
          <th>
            <i ng-if="sortType === 'createdAt' && !reverse" class="fa fa-sort-alpha-asc"></i>
            <i ng-if="sortType === 'createdAt' && reverse" class="fa fa-sort-alpha-desc"></i>
            <a href="#" ng-click="toggleSort('createdAt')">Date de création</a>
          </th>
          <th ng-if="status === 'done'">
            <i ng-if="sortType === 'taux' && !reverse" class="fa fa-sort-alpha-asc"></i>
            <i ng-if="sortType === 'taux' && reverse" class="fa fa-sort-alpha-desc"></i>
            <a href="#" ng-click="toggleSort('taux')">Taux accordé</a>
          </th>
          <th>Notification</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="demande in demandes" ng-class="{duplicate: demande.isDuplicate, 'new': demande.status === 'new'}">
          <td><a class="detail" ui-sref="layout.college.demandes.edit({demandeId: demande._id})"><i class="fa fa-search"></i> {{demande.identiteEnfant.prenom | capitalize}} {{demande.identiteEnfant.nom | capitalize}}</a></td>
          <td>{{demande.identiteAdulte.demandeur.prenoms | capitalize}} {{demande.identiteAdulte.demandeur.nom | capitalize}}</td>
          <td class="text-right">{{demande.rfr}} €</td>
          <td class="text-center">{{demande.foyer.nombreEnfantsACharge}}</td>
          <td class="text-center">{{demande.foyer.nombreEnfantsAdultes}}</td>
          <td class="text-center">{{demande.identiteEnfant.regime | deductibilite}}</td>
          <td>{{demande.createdAt | date}}</td>
          <td class="text-center" ng-if="status === 'done'">{{demande.notification.montant}} €</td>
          <td>
            <div ng-if="status !== 'done'">
              <div class="btn-group" uib-dropdown is-open="dropdownStatus.isopen">
                <button id="button-{{demande._id}}" type="button" class="btn btn-action-invert" ng-click="notification(demande)" dropdown-toggle ng-disabled="disabled">
                  Notifier
                </button>
                <button type="button" class="btn btn-action-invert" uib-dropdown-toggle>
                  <span class="caret"></span>
                  <span class="sr-only">Autres actions</span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="button-{{demande._id}}">
                  <li role="menuitem"><a href="#" ng-if="demande.status !== 'pause'" ng-click="pauseDemande(demande)">Mettre en attente</a></li>
                  <li role="separator" class="divider"></li>
                  <li role="menuitem"><a href="/api/demandes/{{demande._id}}/random/download?access_token={{token}}" target="_blank" download="detail_{{demande.identiteAdulte.demandeur.nom}}_{{demande.identiteAdulte.demandeur.prenoms}}.pdf">Télécharger le détail</a></li>
                </ul>
              </div>
            </div>
            <div ng-if="status === 'done'" class="btn-group">
              <div class="btn-group" uib-dropdown is-open="dropdownStatus.isopen">
                <a type="button" class="btn btn-action-invert" href="/api/demandes/{{demande._id}}/notification?access_token={{token}}" target="_blank" download="notification_{{demande.identiteEnfant.prenom}}_{{demande.identiteEnfant.nom}}.pdf" dropdown-toggle ng-disabled="disabled" id="button-{{demande._id}}">
                  Télécharger
                </a>
                <button type="button" class="btn btn-action-invert" uib-dropdown-toggle>
                  <span class="caret"></span>
                  <span class="sr-only">Autres actions</span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="button-{{demande._id}}">
                  <li role="menuitem"><a href="#" ng-click="notification(demande)">Envoyer une <br> nouvelle notification</a></li>
                  <li role="separator" class="divider"></li>
                  <li role="menuitem"><a href="/api/demandes/{{demande._id}}/random/download?access_token={{token}}" target="_blank" download="detail_{{demande.identiteAdulte.demandeur.nom}}_{{demande.identiteAdulte.demandeur.prenoms}}.pdf">Télécharger le détail</a></li>
                </ul>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="pull-left" ng-if="status === 'done'">
      <a target="_blank" class="btn btn-action" download="demandes.zip" href="/api/etablissements/{{college.human_id}}/listeDemandes?access_token={{token}}">Télécharger toutes les demandes</a>
      <a target="_blank" class="btn btn-action" download="notifications.zip" href="/api/etablissements/{{college.human_id}}/notifications?access_token={{token}}">Télécharger toutes les notifications</a>
    </div>

    <div class="pull-right">
      <pagination class="no-margin" total-items="count[status]" max-size="10" ng-model="currentPage" items-per-page="10" ng-change="pageChanged(currentPage)" previous-text="Précédente" next-text="Suivante" rotate="false"></pagination>
    </div>
  </div>
</ui-view>
