<html>
  <head>
    <style>
      h2 {
        font-size: 12px;
        margin-bottom: 5px;
      }

      .small {
        font-size: 10px;
        color: #333;
      }

      .info-label {
        color: #333;
        font-size: 10px;
        line-height: 1;
      }

      p.info {
        font-size: 14px;
        font-weight: 500;
        line-height: 1;
        margin: 4px 0;
      }

      img {
        width: 50px;
      }

    </style>
  </head>
  <body>
    <img src="https://{{path}}/assets/images/sgmap-horiz.png"></img>
    <img src="https://{{path}}/assets/images/men-horiz.png"></img>

    <h2>Résumé de la demande <br><small>Passée le {{createdAt}}</small></h2>

    <div class="info-label">Identité du demandeur</div>
    <p class="info">{{identiteAdulte.demandeur.prenoms}} {{identiteAdulte.demandeur.nom}} pour {{identiteEnfant.prenom}} {{identiteEnfant.nom}}</p>

    <div class="info-label">Revenu fiscal de référence</div>
    <p class="info">{{data.revenuFiscalReference}} €</p>

    <div class="info-label">Nombre d'enfants mineurs ou infirmes</div>
    <p class="info">{{foyer.nombreEnfantsACharge}}</p>

    <div class="info-label">Nombre d'enfants majeurs célibataires</div>
    <p class="info">{{foyer.nombreEnfantsAdultes}}</p>

    <h2>Identité de l'enfant</h2>

    <div class="info-label">Nom</div>
    <p class="info">{{identiteEnfant.nom}}</p>

    <div class="info-label">Prénom</div>
    <p class="info">{{identiteEnfant.prenom}}</p>

    <div class="info-label">Sexe</div>
    <p class="info">{{identiteEnfant.sexe}}</p>

    <div class="info-label">Date de naissance</div>
    <p class="info">{{identiteEnfant.dateNaissance}}</p>

    <div class="info-label">Régime</div>
    <p class="info">{{identiteEnfant.regime}}</p>

    <h2>Identité de l'adulte</h2>

    <div class="info-label">Nom</div>
    <p class="info">{{identiteAdulte.demandeur.nom}}</p>

    <div class="info-label">Prénom</div>
    <p class="info">{{identiteAdulte.demandeur.prenoms}}</p>

    <div class="info-label">Lien avec l'enfant</div>
    <p class="info">{{identiteAdulte.lien}}</p>

    <h2>Renseignements du foyer</h2>

    <div class="info-label">Nombre d'enfants mineurs ou infirmes</div>
    <p class="info">{{foyer.nombreEnfantsACharge}}</p>

    <div class="info-label">Nombre d'enfants majeurs célibataires</div>
    <p class="info">{{foyer.nombreEnfantsAdultes}}</p>

    <div class="info-label">Garde alternée</div>
    <p class="info">{{identiteEnfant.garde}}</p>

    <h2>Renseignements de contact</h2>

    <div class="info-label">Adresse</div>
    <p class="info">{{identiteAdulte.adresse}}</p>

    <div class="info-label">Code postal</div>
    <p class="info">{{identiteAdulte.codePostal}}</p>

    <div class="info-label">Ville</div>
    <p class="info">{{identiteAdulte.ville.nomCommune}}</p>

    <div class="info-label">E-mail</div>
    <p class="info">{{identiteAdulte.email}}</p>

    <h2>Renseignements bancaires</h2>

    <div class="info-label">IBAN</div>
    <p class="info">{{identiteAdulte.iban}}</p>

    <div class="info-label">BIC</div>
    <p class="info">{{identiteAdulte.bic}}</p>

    <h2>Renseignements issus de la déclaration d'impôt</h2>

    <div class="info-label">Revenu fiscal de référence</div>
    <p class="info">{{data.revenuFiscalReference}} €</p>

    <div class="info-label">Situation familiale</div>
    <p class="info">{{data.situationFamille}}</p>

    {{#observations}}
      <h2>Vos observations</h2>

      <p class="info">{{observations}}</p>
    {{/observations}}
  </body>
</html>
