<html>
  <head>
    <style>
      h2 {
        font-size: 16px;
        margin-bottom: 5px;
      }

      .small {
        font-size: 10px;
        color: #333;
      }

      .info-label {
        color: #333;
        font-size: 13px;
      }

      p.info {
        font-size: 14px;
        margin: 4px 0;
        font-weight: bold;
      }

      img {
        width: 50px;
      }

      .left {
        width: 50%;
        float: left;
      }

      .right {
        width: 50%;
        float: right;
      }

      .clear {
        clear: both;
      }

    </style>
  </head>
  <body>
    <img src="https://{{path}}/assets/images/sgmap-horiz.png"></img>
    <img src="https://{{path}}/assets/images/men-horiz.png"></img>

    <h2>Résumé de la demande pour 2016-2017<br><small>Passée le {{createdAt}}</small></h2>

    <div class="info-label">Identité du demandeur</div>
    <p class="info">{{identiteAdulte.demandeur.prenoms}} {{identiteAdulte.demandeur.nom}} pour {{identiteEnfant.prenom}} {{identiteEnfant.nom}}</p>

    <div class="info-label">Revenu fiscal de référence</div>
    <p class="info">{{data.revenuFiscalReference}} €</p>

    <div class="info-label">Nombre d'enfants mineurs ou infirmes</div>
    <p class="info">{{foyer.nombreEnfantsACharge}}</p>

    <div class="info-label">Nombre d'enfants majeurs célibataires</div>
    <p class="info">{{foyer.nombreEnfantsAdultes}}</p>

    {{#identiteEnfant.cantine}}
      <div class="info-label">Cantine</div>
      <p class="info">Demande d'aide départementale pour la demi-pension</p>
    {{/identiteEnfant.cantine}}

    <div class="left">
      <h2>Identité de l'enfant</h2>

      <div class="info-label">Nom</div>
      <p class="info">{{identiteEnfant.nom}}</p>

      <div class="info-label">Prénom</div>
      <p class="info">{{identiteEnfant.prenom}}</p>

      <div class="info-label">Date de naissance</div>
      <p class="info">{{identiteEnfant.dateNaissance}}</p>

      <div class="info-label">Régime</div>
      <p class="info">{{identiteEnfant.regime}}</p>
    </div>

    <div class="right">
      <h2>Identité de l'adulte</h2>

      <div class="info-label">Nom</div>
      <p class="info">{{identiteAdulte.demandeur.nom}}</p>

      <div class="info-label">Prénom</div>
      <p class="info">{{identiteAdulte.demandeur.prenoms}}</p>

      <div class="info-label">Lien avec l'enfant</div>
      <p class="info">{{identiteAdulte.lien}}</p>
    </div>

    <div class="clear"></div>

    <div class="left">
      <h2>Renseignements du foyer</h2>

      <div class="info-label">Nombre d'enfants mineurs ou infirmes</div>
      <p class="info">{{foyer.nombreEnfantsACharge}}</p>

      <div class="info-label">Nombre d'enfants majeurs célibataires</div>
      <p class="info">{{foyer.nombreEnfantsAdultes}}</p>

      <div class="info-label">Garde alternée</div>
      <p class="info">{{identiteEnfant.garde}}</p>
    </div>

    <div class="right">
      <h2>Renseignements de contact</h2>

      <div class="info-label">E-mail</div>
      <p class="info">{{identiteAdulte.email}}</p>

      <div class="info-label">Téléphone</div>
      <p class="info">{{identiteAdulte.phone}}</p>
    </div>

    <div class="clear"></div>

    <h2>Renseignements bancaires</h2>

    <div class="info-label">Titulaire</div>
    <p class="info">{{identiteAdulte.titulaire}}</p>

    <div class="info-label">IBAN</div>
    <p class="info">{{identiteAdulte.iban}}</p>

    <div class="info-label">BIC</div>
    <p class="info">{{identiteAdulte.bic}}</p>

    <h2>Renseignements issus de la déclaration d'impôt <strong>{{data.anneeImpots}}</strong> sur les revenus de l'année <strong>{{data.anneeRevenus}}</strong></h2>

    <div class="info-label">Nombre de parts</div>
    <p class="info">{{data.nombreParts}}</p>

    <div class="info-label">Revenu fiscal de référence</div>
    <p class="info">{{data.revenuFiscalReference}} €</p>

    <div class="info-label">Situation familiale</div>
    <p class="info">{{data.situationFamille}}</p>

    {{#observations}}
      <h2>Vos observations</h2>

      <p class="info">{{observations}}</p>
    {{/observations}}
  </body>
</html>
