<h1>Connexion</h1>

<form name="connexionForm" ng-submit="submit(connexionForm)" novalidate>

  <div class="form-group required" ng-class="{'has-error': connexionForm.numeroFiscal.$invalid && connexionForm.$submitted}">
    <label for="numeroFiscal" class="control-label">Numéro fiscal</label>
    <input id="numeroFiscal" type="text" name="numeroFiscal" class="form-control" ng-model="credentials.numeroFiscal" required>
    <div ng-messages="connexionForm.numeroFiscal.$error" ng-if="connexionForm.$submitted">
      <p class="help-block" ng-message='required'>Ce champ est obligatoire.</p>
    </div>
  </div>

  <div class="form-group required" ng-class="{'has-error': connexionForm.referenceAvis.$invalid && connexionForm.$submitted}">
    <label for="referenceAvis" class="control-label">Référence de votre avis</label>
    <input id="referenceAvis" type="text" name="referenceAvis" class="form-control" ng-model="credentials.referenceAvis" required>
    <div ng-messages="connexionForm.referenceAvis.$error" ng-if="connexionForm.$submitted">
      <p class="help-block" ng-message='required'>Ce champ est obligatoire.</p>
    </div>
  </div>

  <div ng-if="error">
    <p class="text-danger">{{error}}</p>
  </div>

  <div class="text-right">
    <button type="submit" ladda="loading" data-style="expand-right" name="submit" alt="Valider" class="btn btn-lg btn-primary">
        Suivant
    </button>
  </div>
</form>
