<h1>Vos renseignements</h1>

<form name="infoForm" ng-submit="submit(infoForm)" novalidate>

  <div class="form-group required" ng-class="{'has-error': infoForm.adresse.$invalid && infoForm.$submitted}">
    <label for="adresse" class="control-label">Adresse</label>
    <textarea id="adresse" rows="2" name="adresse" class="form-control" ng-model="identite.adresse" required></textarea>
    <div ng-messages="infoForm.adresse.$error" ng-if="infoForm.$submitted">
      <p class="help-block" ng-message='required'>Ce champ est obligatoire.</p>
    </div>
  </div>

  <div
    class="form-group required"
    ng-class="{'has-error': infoForm.$submitted && infoForm.codePostal.$invalid}">
    <label class="control-label" for="postal-code">Code postal</label>
    <input
      type="text"
      inputmode="numeric"
      minlength="5"
      maxlength="5"
      pattern="[0-9]{5}"
      title="Cinq chiffres"
      class="form-control"
      id="postal-code"
      name="codePostal"
      required
      ng-model="identite.codePostal"
      ng-change="updateCities(infoForm)">
    <div ng-messages="infoForm.codePostal.$error" ng-if="infoForm.$submitted">
      <p class="help-block" ng-message='required'>Ce champ est obligatoire.</p>
      <p class="help-block" ng-message='notFound'>Ce code postal est invalide</p>
    </div>
  </div>

  <div class="form-group required" ng-class="{'has-error': infoForm.ville.$invalid && infoForm.$submitted}">
    <label class="control-label" for="postal-code-ville">Ville</label>
    <p class="form-control-static" ng-if="retrievingCities"><i class="fa fa-spinner fa-spin"></i></p>
    <select
      name="ville"
      id="postal-code-ville"
      class="form-control"
      required
      ng-disabled="!cities.length"
      ng-options="city.nomCommune for city in cities track by city.codeInsee"
      ng-model="identite.ville">
    </select>
    <div ng-messages="infoForm.ville.$error" ng-if="infoForm.$submitted">
      <p class="help-block" ng-message='required'>Ce champ est obligatoire.</p>
    </div>
  </div>

  <hr>
  <h4>Vos informations bancaires</h4>
  <div class="form-group required" ng-class="{'has-error': infoForm.titulaire.$invalid && infoForm.$submitted}">
    <label for="titulaire" class="control-label">Titulaire</label>
    <input type="text" class="form-control" name="titulaire" ng-model="identite.titutlaire" placeholder="Pré-remplir avec les déclarants" required/>
    <div class="">
      <a class="label label-primary" ng-if="declarant" ng-repeat="declarant in data.identites" ng-click="setTitulaire(declarant, identite)"
        title="{{'Sélectionner ' + declarant.prenoms + ' ' + declarant.nom}}">
        {{declarant.prenoms}} {{declarant.nom}}
      </a>
    </div>
    <div ng-messages="infoForm.titulaire.$error" ng-if="infoForm.$submitted">
      <p class="help-block" ng-message='required'>Ce champ est obligatoire.</p>
    </div>
  </div>

  <div class="form-group required" ng-class="{'has-error': infoForm.iban.$invalid && infoForm.$submitted}">
    <label for="iban" class="control-label">IBAN</label>
    <input type="text" class="form-control" name="iban" ng-model="identite.iban" ng-iban="FR" required/>
    <div ng-messages="infoForm.iban.$error" ng-if="infoForm.$submitted">
      <p class="help-block" ng-message='required'>Ce champ est obligatoire.</p>
      <p class="help-block" ng-message='iban'>L'IBAN saisi est incorrect.</p>
    </div>
  </div>

  <div class="form-group required" ng-class="{'has-error': infoForm.bic.$invalid && infoForm.$submitted}">
    <label for="bic" class="control-label">BIC</label>
    <input type="text" class="form-control" ng-model="identite.bic" required/>
    <div ng-messages="infoForm.bic.$error" ng-if="infoForm.$submitted">
      <p class="help-block" ng-message='required'>Ce champ est obligatoire.</p>
      <p class="help-block" ng-message='bic'>Le BIC saisi est incorrect.</p>
    </div>
  </div>

  <hr>
  <h4>Pour vous tenir informés de l'avancement de votre demande</h4>
  <div class="form-group required" ng-class="{'has-error': infoForm.email.$invalid && infoForm.$submitted}">
    <label for="email" class="control-label">Email</label>
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
      <input id="email" type="email" name="email" class="form-control" ng-model="identite.email" required>
    </div>
    <div ng-messages="infoForm.email.$error" ng-if="infoForm.$submitted">
      <p class="help-block" ng-message='required'>Ce champ est obligatoire.</p>
      <p class="help-block" ng-message='email'>L'adresse email saisie est incorrecte.</p>
    </div>
  </div>

  <div class="form-group">
    <label for="phone" class="control-label">Telephone</label>
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-phone"></i></span>
      <input id="phone" type="phone" name="phone" class="form-control" ng-model="identite.phone" required>
    </div>
  </div>

  <div class="form-group required" ng-class="{'has-error': !identite.signature && infoForm.$submitted}">
    <div class="checkbox">
      <label>
        <input required id="check-signature" ng-model="identite.signature" type="checkbox"> Je certifie sur l’honneur que les renseignements portés sur cette déclaration sont exacts
      </label>
    </div>
    <p class="help-block" ng-if="!identite.signature && infoForm.$submitted"> Ce champ est obligatoire.</p>
  </div>

  <div class="text-right">
    <button type="submit" ladda="loading" data-style="expand-right" name="submit" alt="Valider" class="btn btn-lg btn-success">
        Envoyer votre demande
    </button>
  </div>
</form>

