<h1>Vos renseignements</h1>

<div class="panel panel-default" ng-if="data.declarant1.nom || data.declarant2.nom">
  <div class="panel-heading">
    Pré-remplir avec vos identités fiscales
  </div>
  <div class="panel-body">
    <button ng-if="data.declarant1.nom" ng-class="{'active': identite.selected === 1}" class="btn btn-default" ng-click="selectDeclarant(1, data.declarant1)">
      {{data.declarant1.prenoms | capitalize:'first'}} {{data.declarant1.nom | capitalize:'first'}}
      <br>
      <small>Né(e) le {{data.declarant1.dateNaissance}}</small>
    </button>
    <buttonn ng-if="data.declarant2.nom" ng-class="{'active': identite.selected === 2}" class="btn btn-default" ng-click="selectDeclarant(2, data.declarant2)">
      {{data.declarant2.prenoms | capitalize:'first'}} {{data.declarant2.nom | capitalize:'first'}}
      <br>
      <small>Né(e) le {{data.declarant2.dateNaissance}}</small>
    </button>
  </div>
</div>

<form name="infoForm" ng-submit="submit(infoForm)" novalidate>

  <div class="form-group required" ng-class="{'has-error': !identite.lien && infoForm.$submitted}">
    <fieldset>
      <legend class="control-label">Vous êtes</legend>
      <input type="radio" name="lien" id="lien-pere" ng-model="identite.lien" ng-required="!identite.lien" value="pere">
      <label class="radio-inline" for="lien-pere">Le père</label>
      <input type="radio" name="lien" id="lien-mere" ng-model="identite.lien" ng-required="!identite.lien" value="mere">
      <label class="radio-inline" for="lien-mere">La mère</label>
      <input type="radio" name="lien" id="lien-responsable" ng-model="identite.lien" ng-required="!identite.lien" value="responsable">
      <label class="radio-inline" for="lien-responsable">Le représentant légal</label>
    </fieldset>
    <div ng-if="!identite.lien && infoForm.$submitted">
      <p class="help-block">Ce champ est obligatoire.</p>
    </div>
  </div>

  <div class="form-group required" ng-class="{'has-error': infoForm.nom.$invalid && infoForm.$submitted}">
    <label for="nom" class="control-label">Nom</label>
    <input id="nom" type="text" name="nom" class="form-control" ng-model="identite.nom" required>
    <div ng-messages="infoForm.nom.$error" ng-if="infoForm.$submitted">
      <p class="help-block" ng-message='required'>Ce champ est obligatoire.</p>
    </div>
  </div>

  <div class="form-group required" ng-class="{'has-error': infoForm.prenom.$invalid && infoForm.$submitted}">
    <label for="prenom" class="control-label">Prénom(s)</label>
    <input id="prenom" type="text" name="prenom" class="form-control" ng-model="identite.prenom" required>
    <div ng-messages="infoForm.prenom.$error" ng-if="infoForm.$submitted">
      <p class="help-block" ng-message='required'>Ce champ est obligatoire.</p>
    </div>
  </div>

  <div class="form-group required" ng-class="{'has-error': infoForm.adresse.$invalid && infoForm.$submitted}">
    <label for="adresse" class="control-label">Adresse</label>
    <textarea id="adresse" rows="2" name="adresse" class="form-control" ng-model="identite.adresse" required></textarea>
    <div ng-messages="infoForm.adresse.$error" ng-if="infoForm.$submitted">
      <p class="help-block" ng-message='required'>Ce champ est obligatoire.</p>
    </div>
  </div>

  <div
    class="form-group required"
    ng-class="{'has-error': infoForm.$submitted && infoForm.codePostal.$invalid}">
    <label class="control-label" for="postal-code">Code postal</label>
    <input
      type="text"
      inputmode="numeric"
      minlength="5"
      maxlength="5"
      pattern="[0-9]{5}"
      title="Cinq chiffres"
      class="form-control"
      id="postal-code"
      name="codePostal"
      required
      ng-model="identite.codePostal"
      ng-change="updateCities(infoForm)">
    <div ng-messages="infoForm.codePostal.$error" ng-if="infoForm.$submitted">
      <p class="help-block" ng-message='required'>Ce champ est obligatoire.</p>
      <p class="help-block" ng-message='notFound'>Ce code postal est invalide</p>
    </div>
  </div>

  <div class="form-group required" ng-class="{'has-error': infoForm.ville.$invalid && infoForm.$submitted}">
    <label class="control-label" for="postal-code-ville">Ville</label>
    <p class="form-control-static" ng-if="retrievingCities"><i class="fa fa-spinner fa-spin"></i></p>
    <select
      name="ville"
      id="postal-code-ville"
      class="form-control"
      required
      ng-disabled="!cities.length"
      ng-options="city.nomCommune for city in cities track by city.codeInsee"
      ng-model="identite.ville">
    </select>
    <div ng-messages="infoForm.ville.$error" ng-if="infoForm.$submitted">
      <p class="help-block" ng-message='required'>Ce champ est obligatoire.</p>
    </div>
  </div>

  <div class="form-group required" ng-class="{'has-error': infoForm.email.$invalid && infoForm.$submitted}">
    <label for="email" class="control-label">Email</label>
    <div class="input-group">
      <input id="email" type="email" name="email" class="form-control" ng-model="identite.email" required>
      <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
    </div>
    <div ng-messages="infoForm.email.$error" ng-if="infoForm.$submitted">
      <p class="help-block" ng-message='required'>Ce champ est obligatoire.</p>
      <p class="help-block" ng-message='email'>L'adresse email saisie est incorrecte.</p>
    </div>
  </div>

  <div class="form-group required" ng-class="{'has-error': !identite.signature && infoForm.$submitted}">
    <div class="checkbox">
      <label>
        <input required id="check-signature" ng-model="identite.signature" type="checkbox"> Je certifie sur l’honneur que les renseignements portés sur cette déclaration sont exacts
      </label>
    </div>
    <p class="help-block" ng-if="!identite.signature && infoForm.$submitted"> Ce champ est obligatoire.</p>
  </div>

  <div class="text-right">
    <button type="submit" ladda="loading" data-style="expand-right" name="submit" alt="Valider" class="btn btn-lg btn-success">
        Envoyer votre demande
    </button>
  </div>
</form>

