<form name="foyerForm" ng-submit="next(foyerForm)" novalidate>
  <div class="form-section">
    <h1>Votre foyer</h1>

    <div class="form-group required" ng-class="{'has-error': !identite.lien && foyerForm.$submitted}">
      <fieldset>
        <legend class="control-label-flat">
          Vous êtes
        </legend>
        <div class="btn-group">
          <label class="btn btn-select" ng-model="identite.lien" btn-radio="'pere'">Le père</label>
          <label class="btn btn-select" ng-model="identite.lien" btn-radio="'mere'">La mère</label>
          <label class="btn btn-select" ng-model="identite.lien" btn-radio="'responsable'">Le représentant légal</label>
        </div>
      </fieldset>

      <div ng-if="!identite.lien && foyerForm.$submitted">
        <p class="help-block"><i class="fa fa-warning"></i> Ce champ est obligatoire.</p>
      </div>
    </div>

    <div class="form-group required" ng-class="{'has-error': !identite.garde && foyerForm.$submitted}">
      <fieldset>
        <legend class="control-label-flat">Votre enfant est-il en garde alternée ?</legend>
        <div class="btn-group">
          <label class="btn btn-select" ng-model="identite.garde" btn-radio="'oui'">Oui</label>
          <label class="btn btn-select" ng-model="identite.garde" btn-radio="'non'">Non</label>
        </div>
      </fieldset>

      <div ng-if="!identite.garde && foyerForm.$submitted">
        <p class="help-block"><i class="fa fa-warning"></i> Ce champ est obligatoire.</p>
      </div>
    </div>

    <div class="form-group required" ng-class="{'has-error': foyerForm.nombreEnfantsACharge.$invalid && foyerForm.$submitted}">
      <label for="nombreEnfantsACharge" class="control-label-flat">
        Nombre d'enfants mineurs ou handicapés
        <br>
        <small>(tel que mentionné sur l'avis d'imposition)</small>
      </label>
      <input type="number" min="0" class="form-control-flat" required name="nombreEnfantsACharge" ng-model="identite.nombreEnfantsACharge">
      <div ng-messages="foyerForm.enfants.$error" ng-if="foyerForm.$submitted">
        <p class="help-block" ng-message='required'><i class="fa fa-warning"></i> Ce champ est obligatoire.</p>
        <p class="help-block" ng-message='min number'><i class="fa fa-warning"></i> Cette valeur n'est pas correcte.</p>
      </div>
    </div>

    <div class="form-group required" ng-class="{'has-error': foyerForm.nombreEnfantsAdultes.$invalid && foyerForm.$submitted}">
      <label for="nombreEnfantsAdultes" class="control-label-flat">
        Nombre d'enfants majeurs célibataires
        <br>
        <small>(tel que mentionné sur l'avis d'imposition)</small>
      </label>
      <input type="number" min="0" class="form-control-flat" required name="nombreEnfantsAdultes" ng-model="identite.nombreEnfantsAdultes">
      <div ng-messages="foyerForm.nombreEnfantsAdultes.$error" ng-if="foyerForm.$submitted">
        <p class="help-block" ng-message='required'><i class="fa fa-warning"></i> Ce champ est obligatoire.</p>
        <p class="help-block" ng-message='min number'><i class="fa fa-warning"></i> Cette valeur n'est pas correcte.</p>
      </div>
    </div>
  </div>

  <div class="form-section">
    <h1>Vos renseignements fiscaux</h1>

    <div class="well-connect">
      <div class="alert alert-info" role="alert">
        <p>
          <i class="fa fa-info-circle"></i> Nous avons besoin des informations de votre avis
          d'imposition afin d'en transmettre une copie à votre académie.
        </p>
      </div>
      <div connection connection-id="'demandeur'" status="statusDemandeur" on-success="saveIdentite"></div>
    </div>
  </div>

  <div class="form-section">
    <h1>Renseignements sur l'autre parent</h1>

    <div class="form-group required" ng-if="svair.situationFamille === 'Pacsé(e)s'">
      <fieldset>
        <legend class="control-label-flat">Êtes-vous en concubinage avec l'autre parent de l'enfant ?</legend>
        <div class="btn-group">
          <label class="btn btn-select" ng-model="identite.concubinage" btn-radio="'oui'">Oui</label>
          <label class="btn btn-select" ng-model="identite.concubinage" btn-radio="'non'">Non</label>
        </div>
      </fieldset>
    </div>

    <div class="well-connect">
      <div id="disabled-overlay" ng-if="isOtherParentDisabled()"></div>
      <div connection connection-id="'conjoint'" status="statusConjoint" on-success="saveIdentite"></div>
    </div>
  </div>

  <div class="form-section">
    <div class="text-right">
      <button type="submit" name="submit" alt="Valider" class="btn btn-lg btn-action">
          Étape suivante <i class="fa fa-long-arrow-right"></i>
      </button>
    </div>
  </div>
</form>
