<form name="foyerForm" ng-submit="next(foyerForm)" novalidate>
  <div class="form-section">
    <h1>Votre foyer</h1>

    <div class="form-group required" ng-class="{'has-error': !foyer.garde && foyerForm.$submitted}">
      <fieldset>
        <legend class="control-label-flat">Votre enfant est-il en garde alternée ?</legend>
        <div class="btn-group">
          <button type="button" class="btn btn-select" role="radio" ng-model="foyer.garde" btn-radio="'oui'">Oui</button>
          <button type="button" class="btn btn-select" role="radio" ng-model="foyer.garde" btn-radio="'non'">Non</button>
        </div>
      </fieldset>

      <div ng-if="!foyer.garde && foyerForm.$submitted">
        <p class="help-block"><i class="fa fa-warning"></i> Ce champ est obligatoire.</p>
      </div>
    </div>

    <div class="form-group required" ng-class="{'has-error': foyerForm.nombreEnfantsACharge.$invalid && foyerForm.$submitted}">
      <label for="nombre-enfants-a-charge" class="control-label-flat">
        Nombre d'enfants mineurs ou handicapés
        <br>
        <small>(tel que mentionné sur l'avis d'imposition)</small>
      </label>
      <input type="number" min="0" class="form-control-flat" required id="nombre-enfants-a-charge" name="nombreEnfantsACharge" ng-model="foyer.nombreEnfantsACharge">
      <div ng-messages="foyerForm.enfants.$error" ng-if="foyerForm.$submitted">
        <p class="help-block" ng-message='required'><i class="fa fa-warning"></i> Ce champ est obligatoire.</p>
        <p class="help-block" ng-message='min number'><i class="fa fa-warning"></i> Cette valeur n'est pas correcte.</p>
      </div>
    </div>

    <div class="form-group required" ng-class="{'has-error': foyerForm.nombreEnfantsAdultes.$invalid && foyerForm.$submitted}">
      <label for="nombre-enfants-majeurs" class="control-label-flat">
        Nombre d'enfants majeurs célibataires
        <br>
        <small>(tel que mentionné sur l'avis d'imposition)</small>
      </label>
      <input type="number" min="0" class="form-control-flat" required id="nombre-enfants-majeurs" name="nombreEnfantsAdultes" ng-model="foyer.nombreEnfantsAdultes">
      <div ng-messages="foyerForm.nombreEnfantsAdultes.$error" ng-if="foyerForm.$submitted">
        <p class="help-block" ng-message='required'><i class="fa fa-warning"></i> Ce champ est obligatoire.</p>
        <p class="help-block" ng-message='min number'><i class="fa fa-warning"></i> Cette valeur n'est pas correcte.</p>
      </div>
    </div>
  </div>

  <div class="form-section">
    <h1>Vos renseignements fiscaux</h1>

    <div class="well-connect">
      <div class="alert alert-info" role="alert">
        <p>
          <i class="fa fa-info-circle"></i> Nous avons besoin des informations de votre avis
          d'imposition afin d'en transmettre une copie à votre académie.
          <br>
          Si vous n'avez pas de numéro fiscal, vous pouvez également faire appel au
          <strong>
            <a href="http://vosdroits.service-public.fr/particuliers/F1025.xhtml" target="_blank" title="Détail sur le fonds social collégien">fonds social collégien</a>.
          </strong>
        </p>
      </div>
      <div connection connection-id="'demandeur'" status="statusDemandeur" on-success="saveFoyer"></div>
    </div>
  </div>

  <div class="form-section" ng-if="showOtherParent()">
    <h1>Renseignements sur l'autre parent</h1>

    <div class="form-group required" ng-if="isCelibataire()">
      <fieldset>
        <legend class="control-label-flat">Êtes-vous en concubinage avec l'autre parent de l'enfant ?</legend>
        <div class="btn-group">
          <button type="button" class="btn btn-select" role="radio" ng-model="foyer.concubinage" btn-radio="'oui'">Oui</button>
          <button type="button" class="btn btn-select" role="radio" ng-model="foyer.concubinage" btn-radio="'non'">Non</button>
        </div>
      </fieldset>
    </div>

    <div class="well-connect" ng-if="showOtherParentConnection()">
      <div connection connection-id="'conjoint'" status="statusConjoint" on-success="saveFoyer"></div>
    </div>
  </div>

  <div class="form-section">
    <div class="text-right">
      <button type="submit" name="submit" alt="Valider" class="btn btn-lg btn-action">
          Étape suivante <i class="fa fa-long-arrow-right"></i>
      </button>
    </div>
  </div>
</form>
