.alert > p.info-lead {
  margin-bottom: 8px;
}

.well-connect {
  background-color: $blue;
  border-radius: 4px;
  padding: 20px;

  .form-control-flat {
    background-color: lighten($blue, 10%);
  }

  .btn-action:hover,
  .btn-action:focus {
    background-color: $white;
    color: $darker-blue;
  }

  .action-cancel {
    color: $white;
    margin-right: 10px;
    margin-top: 2px;
    &:hover {
      cursor: pointer;
    }
  }

  h2 {
    font-weight: 200;
    text-align: center;
    font-size: 18px;
  }
}

.edit-svair {
  color: $red;
}

.choices-connect {
  display: flex;
}

@media(max-width: 767px) {
  .choices-connect {
    flex-direction: column;
    .connect-fc {
      width: 100%;
    }
    .connect-svair {
      width: 100%;
    }
  }
}

.connect-fc {
  width: 50%;
  border-radius: 4px;

  .connect-fc-img {
    text-align: center;
    padding: 25px;
    align-items: center;
  }

  img {
    max-width: 400px;
    width: 100%;
  }
}

.vertical-hr {
  border-left: 1px solid darken($blue, 5%);
}

.connect-svair {
  width: 50%;

  .svair-form {
    padding: 25px;
  }
}

.modal-body {
  background-color: $blue;
  color: white;
}

.modal-footer {
  background-color: $dark-blue;
  border-top: 1px solid $darker-blue;
}
