<div id="compta-college">

  <div ng-if="demandes.length === 0 && demandes.$resolved" class="finished">
    <i class="fa fa-thumbs-up"></i>
  </div>

  <div ng-if="demandes.length !== 0">

    <div class="row">
      <div class="col-sm-5">
        <input type="text" class="form-control" placeholder="Recherche" ng-model="searchText">
      </div>
      <div class="col-sm-7 text-right">
        <a target="_blank" class="btn btn-action" download="liste_ribs.pdf" href="/api/etablissements/{{college.human_id}}/listeRibs?access_token={{token}}">Télécharger la liste des RIBs</a>
      </div>
    </div>

    <br>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Demandeur</th>
          <th>Titulaire</th>
          <th>Taux accordé</th>
          <th>IBAN</th>
          <th>BIC</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="demande in demandes | filter:searchText" ng-class="{duplicate: demande.isDuplicate, 'warning-demande': isWarning(demande), 'new': demande.status === 'new'}">
          <td><a class="detail" ui-sref="layout.college.demandes.edit({demandeId: demande._id})"><i class="fa fa-search"></i> {{demande.identiteAdulte.demandeur.nom | capitalize}}, {{demande.identiteAdulte.demandeur.prenoms | capitalize:true}}</a></td>
          <td><a href="#" onaftersave="update(demande, 'titulaire')" editable-text="demande.identiteAdulte.titulaire">{{ demande.identiteAdulte.titulaire }}</a></td>
          <td class="text-center">{{demande.notification.montant}} €</td>
          <td><a href="#" onaftersave="update(demande, 'iban')" editable-text="demande.identiteAdulte.iban">{{demande.identiteAdulte.iban}}</a></td>
          <td><a href="#" onaftersave="update(demande, 'bic')" editable-text="demande.identiteAdulte.bic">{{demande.identiteAdulte.bic}}</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
