.edit-svair {
  margin-left: 20px;

  &:hover {
    cursor: pointer;
  }
}

.btn-cancel {
  background-color: whitesmoke;
  border: none;
  color: #8B8B8B;
  margin-right: 10px;
}

.info-lead {
  font-weight: 300;
  font-size: 15px;
}

.label-primary {
  margin: 5px 5px 10px 0;
  line-height: 3em;
}
