section {
  padding: 80px 0;
}

section#nouvelle_demande {
  background-color: white;
  p {
    font-size: 1.3em;
    font-weight: 200;
  }

  .action {
    text-align: right;
    margin-top: 2em;
    font-size: 1.7em;
    a {
      @include primary-action;
      padding: 10px;
      border: 1px solid;
    }
  }

  .subtitle-action {
    .fa {
      color: orange;
      padding-right: 5px;
    }

    margin-top: 20px;
  }

}

section#simulation {
  color: $white;
}

.simulation {
  display: flex;

  .form {
    width: 50%;
  }

  .btn-action-container {
    text-align: right;
  }

  .result {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    h3 {
      font-size: 20px;
      margin: 0;
      font-weight: 200;
    }

    p.maxi {
      font-size: 4em;
      font-weight: 500;
      text-align: center;

      &.text-muted {
        color: $blue;
      }
    }

    a {
      text-align: center;
      color: white;
    }
  }

  .vertical-hr {
    margin: 0 60px;
  }
}

@media(max-width: 767px) {
  .simulation {
    flex-direction: column;

    .btn-action-container {
      text-align: center;
    }

    .form {
      width: 100%;
    }

    .result {
      padding-top: 20px;
      width: 100%;

      p.maxi {
        font-size: 3em;
      }
    }
  }
}

footer {
  margin-top: 40px;
  font-size: 1.8em;
  color: white;
  text-align: center;
  background-color: $blue;
  padding: 2em;

  a {
    color: white;
  }
}
