<section id="nouvelle_demande">
  <div class="container">
    <p>
      Votre collège est inscrit à un programme pilote pour faciliter vos demandes de bourses.
    </p>
    <p>
      Vous n’avez plus besoin de photocopies ni de pièces justificatives : la démarche se passe entièrement en ligne.
    </p>
    <p>
      Munissez-vous de vos derniers avis d’imposition ou de vos numéros de télédéclarant aux impôts avant de continuer.
    </p>
    <div class="action">
      Simple, rapide, sécurisé,
      <a ui-sref="layout.nouvelle_demande.identite-enfant" ng-click="reset()">
        déposez votre demande !
      </a>
    </div>
  </div>
</section>

<section id="simulation">
  <div class="container">
    <div class="simulation">
      <div class="form">
        <h2>Avez-vous droit à une bourse ?</h2>
        <form name="infoForm" ng-submit="submit(infoForm)" novalidate>
          <div class="form-group">
            <label for="rfr" class="control-label-flat">Revenu fiscal de référence de votre avis d’imposition 2016 sur les revenus 2015</label>
            <input id="rfr" type="number" step="1000" placeholder="0" min="0" name="rfr" ng-model="rfr" ng-model-options="{ debounce: 1000 }"
              required class="form-control-flat" ng-change="submit(infoForm)">
          </div>
          <div class="form-group">
            <label for="enfants" class="control-label-flat">
              Nombre d'enfants mineurs ou handicapés
            </label>
            <input id="enfants" type="number" min="0" ng-model="enfants"
              required name="enfants" class="form-control-flat" ng-change="submit(infoForm)">
          </div>
          <div class="form-group">
            <label for="adultes" class="control-label-flat">
              Nombre d'enfants majeurs célibataires
            </label>
            <input id="adultes" type="number" min="0" ng-model="adultes"
              required name="adultes" class="form-control-flat" ng-change="submit(infoForm)">
          </div>
          <div class="btn-action-container">
            <button class="btn btn-lg btn-action">
              Simuler votre droit à la bourse
            </button>
          </div>
        </form>
      </div>
      <div class="vertical-hr"></div>
      <div class="result">
        <p ng-if="computing" class="maxi text-muted">
            <i class="fa fa-spin fa-cog"></i> en cours
        </p>
        <div ng-if="!computing">
          <h3>
            {{montant | descriptionMontant}}
          </h3>
          <p ng-if="montant > 0" class="maxi" ng-class="{'text-muted': montant === null}">
              {{montant | montant}}
          </p>
          <div class="text-center">
            <p>{{ montant | descriptionMontantAnnuel }}</p>
            <a class="link-action" ng-if="montant > 0" ui-sref="layout.nouvelle_demande.identite-enfant">
              Déposez votre demande maintenant !
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer>
  <p>Une question ? Écrivez-nous à <a href="mailto:contact@bourse.beta.gouv.fr">contact@bourse.beta.gouv.fr</a></p>
</footer>
