section {
  padding: 80px 0;
}

section#nouvelle_demande {
  p {
    font-size: 1.3em;
    font-weight: 200;
  }

  p.lead {
    font-size: 1.6em;
  }

  .action {
    font-size: 1.7em;

    a {
      border-radius: 5px;
      padding: 10px;
      color: $red;

      &:hover {
        color: white;
        text-decoration: none;
        background-color: $red;
      }
    }
  }

}

section#simulation {
  color: $white;
  background-color: $dark-blue;
}

.simulation {
  display: flex;

  .form {
    width: 50%;
  }

  .btn-action-container {
    text-align: right;
  }

  .result {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    h3 {
      font-size: 15px;
      margin: 0;
    }

    p.maxi {
      font-size: 4em;
      font-weight: 500;
      text-align: center;

      &.text-muted {
        color: $blue;
      }
    }
  }

  .vertical-hr {
    margin: 0 60px;
  }
}

@media(max-width: 767px) {
  .simulation {
    flex-direction: column;

    .btn-action-container {
      text-align: center;
    }

    .form {
      width: 100%;
    }

    .result {
      padding-top: 20px;
      width: 100%;

      p.maxi {
        font-size: 3em;
      }
    }
  }
}
