<div id="login">
  <div class="container">
    <h1>Connexion à l'espace intendant</h1>
  </div>
  <div class="content-box">
    <div class="container">
      <div class="row">
        <div class="col-sm-5">
          <form class="form" name="form" ng-submit="login(form)" novalidate>
            <div class="form-group required" ng-class="{'has-error': form.email.$invalid && form.$submitted}">
              <label for="email" class="control-label-flat">Email</label>
              <input id="email" type="email" name="email" class="form-control-flat" ng-model="user.email" required>
              <div ng-messages="form.email.$error" ng-if="form.$submitted">
                <p class="help-block" ng-message='required'><i class="fa fa-warning"></i> Ce champ est obligatoire.</p>
              </div>
            </div>

            <div class="form-group required" ng-class="{'has-error': form.password.$invalid && form.$submitted}">
              <label for="password" class="control-label-flat">Mot de passe</label>
              <input id="password" type="password" name="password" class="form-control-flat" ng-model="user.password" required>
              <div ng-messages="form.password.$error" ng-if="form.$submitted">
                <p class="help-block" ng-message='required'><i class="fa fa-warning"></i> Ce champ est obligatoire.</p>
              </div>
            </div>

            <p class="alert alert-danger" ng-if="errors.other"><i class="fa fa-warning"></i> {{errors.other}}</p>

            <div class="text-right">
              <button class="btn btn-action-invert btn-lg btn-login" type="submit">
                Connection
              </button>
            </div>
          </form>
        </div>

        <div class="col-sm-5 col-sm-offset-2 text-center">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" allowfullscreen src="//www.youtube.com/v/6FOz4E_W6I4"></iframe>
          </div>
          <p>Tutoriel d'utilisation</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <h2>Préparez la rentrée 2016-2017</h2>
    <br>
    <br>
    <div class="row">
      <div class="col-sm-5 text-center">
        <a href="https://docs.google.com/a/octo.com/forms/d/1eaJ29H8M0gta_sXqcTfoV4UO2b7VYvdi_TUTviS8Hy8/prefill" target="_blank">
          <p>Inscrivez votre collège</p>
          <img src="/assets/images/google_form.jpg" alt="Inscrivez votre collège">
        </a>
      </div>
      <div class="col-sm-5 col-sm-offset-2 text-center">
        <a href="assets/images/flyer_usager.pptx" download target="self">
          <p>Télécharger le flyer à destination des usager</p>
          <img src="/assets/images/preview_flyer.jpg" alt="Télécharger le flyer à destination des usager">
        </a>
      </div>
    </div>
    <br>
    <br>
  </div>
</div>
