#login {
  background-color: white;
  height: 100%;
  margin-bottom: 250px;

  h1, h2 {
    margin-top: 2em;
  }

  form {
    max-width: 640px;
    margin: auto;

    .control-label-flat {
      color: white;
    }

    .form-control-flat {
      background-color: white;
    }
  }

  .content-box {
    background-color: $dark-blue;
    padding: 30px 0;
    color: white;

    > .container > .row {
      display: flex;
      align-items: center;
    }
  }

  .help-block a {
    color: white;
    font-size: 1.2em;
    margin-top: 15px;
  }
}

  .ui.card {
    max-width: 100%;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 290px;
    min-height: 0;
    margin: 1em 0;
    background: #FFF;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #D4D4D5,0 0 0 1px #D4D4D5;
    -webkit-transition: box-shadow .1s ease,-webkit-transform .1s ease;
    transition: box-shadow .1s ease,-webkit-transform .1s ease;
    transition: box-shadow .1s ease,transform .1s ease;
    transition: box-shadow .1s ease,transform .1s ease,-webkit-transform .1s ease;
  }

  .ui.card:last-child {
    margin-bottom: 0;
  }

  .ui.card>.image {
      position: relative;
      display: block;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      padding: 0;
      background: rgba(0,0,0,.05);
      border: none;
  }

  .ui.card>.image>img {
      display: block;
      width: 100%;
      height: auto;
      border-radius: inherit;
  }

  .ui.card>.content {
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      border: none;
      border-top: 1px solid rgba(34,36,38,.1);
      background: 0 0;
      margin: 0;
      padding: 1em;
      box-shadow: none;
      font-size: 1em;
      border-radius: 0;
  }

  .ui.card>.content>.header {
      font-weight: 700;
      font-size: 1.28571429em;
      margin-top: -.21425em;
      line-height: 1.2857em;
  }

  .ui.card>.content>a.header {
      color: rgba(0,0,0,.85);
  }

.ui.card>.content>.header {
    display: block;
    margin: '';
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    color: rgba(0,0,0,.85);
}

.ui.card .meta {
    font-size: 1em;
    color: rgba(0,0,0,.6);
}

.ui.card .meta>a:not(.ui) {
    color: rgba(0,0,0,.6);
}

.ui.card>.content a:not(.ui) {
    color: '';
    -webkit-transition: color .1s ease;
    transition: color .1s ease;
}

.ui.card .meta :last-child {
    margin-right: 0;
}

.ui.card>:last-child {
    border-radius: 0 0 .28571429rem .28571429rem!important;
}

.ui.card>:first-child {
    border-radius: .28571429rem .28571429rem 0 0!important;
    border-top: none!important;
}

.ui.card a {
    cursor: pointer;
}
