#login {
  background-color: white;
  height: 100%;
  margin-bottom: 250px;

  h1, h2 {
    margin-top: 2em;
  }

  form {
    max-width: 640px;
    margin: auto;

    .control-label-flat {
      color: white;
    }

    .form-control-flat {
      background-color: white;
    }
  }

  .content-box {
    background-color: $dark-blue;
    padding: 30px 0;
    color: white;

    > .container > .row {
      display: flex;
      align-items: center;
    }
  }

  .help-block a {
    color: white;
    font-size: 1.2em;
    margin-top: 15px;
  }
}

.ui.card {
  max-width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 290px;
  min-height: 0;
  margin: 1em 0;
  background: #FFF;
  padding: 0;
  border: none;
  box-shadow: 0 1px 3px 0 #D4D4D5,0 0 0 1px #D4D4D5;
}

.ui.card:last-child {
  margin-bottom: 0;
}

.ui.card>.image {
  position: relative;
  display: block;
  flex: 0 0 auto;
  padding: 0;
  background: rgba(0,0,0,.05);
  border: none;
  height: 170px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ui.card>.image>img {
  display: block;
  width: 100%;
  height: auto;
}

.ui.card>.content {
  flex-grow: 1;
  border: none;
  border-top: 1px solid rgba(34,36,38,.1);
  background: 0 0;
  margin: 0;
  padding: 1em;
  font-size: 1em;
  border-radius: 0;
}

.ui.card>.content>.header {
  font-weight: 700;
  font-size: 1.3em;
  line-height: 1.3em;
}

.ui.card>.content>a.header {
  color: rgba(0,0,0,.85);
}

.ui.card>.content>.header {
  display: block;
  margin: '';
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  color: rgba(0,0,0,.85);
}

.ui.card .meta {
  font-size: 1em;
  color: rgba(0,0,0,.6);
}

.ui.card .meta>a:not(.ui) {
  color: rgba(0,0,0,.6);
}

.ui.card>.content a:not(.ui) {
  color: '';
  -webkit-transition: color .1s ease;
  transition: color .1s ease;
}

.ui.card .meta :last-child {
  margin-right: 0;
}

.ui.card>:last-child {
  border-radius: 0 0 .28571429rem .28571429rem!important;
}

.ui.card>:first-child {
  border-radius: .28571429rem .28571429rem 0 0!important;
  border-top: none!important;
}

.ui.card a {
  cursor: pointer;
}

.ui.card a:hover,
.ui.card a:focus {
  text-decoration: none;
}
